In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data['Store_Size'] = data['Store_Size'].fillna('High')

In [4]:
data['Item_Weight'] = data['Item_Weight'].fillna(data['Item_Weight'].mean())

In [5]:
data.drop(['Item_ID','Store_ID','Item_Store_ID','Item_Visibility'], axis = 1,inplace = True)

In [6]:
data.isnull().sum()

Item_Weight            0
Item_Sugar_Content     0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
Item_Store_Returns     0
dtype: int64

In [7]:
data.head()

,Item_Weight,Item_Sugar_Content,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,11.6,Low Sugar,Soft Drinks,357.54,2005,High,Cluster 3,Grocery Store,709.08
1,11.6,Low Sugar,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,11.6,Low Sugar,Soft Drinks,350.79,2014,High,Cluster 2,Supermarket Type1,6381.69
3,11.6,Low Sugar,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,11.6,Ultra Low Sugar,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [8]:
data = pd.get_dummies(data, columns = ['Store_Size','Store_Location_Type','Store_Type','Item_Sugar_Content','Item_Type'])

In [9]:
data.head()

,Item_Weight,Item_Price,Store_Start_Year,Item_Store_Returns,Store_Size_High,Store_Size_Medium,Store_Size_Small,Store_Location_Type_Cluster 1,Store_Location_Type_Cluster 2,Store_Location_Type_Cluster 3,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,11.6,357.54,2005,709.08,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,11.6,355.79,1994,6381.69,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,11.6,350.79,2014,6381.69,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,11.6,355.04,2016,2127.23,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,11.6,354.79,2011,2481.77,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
params = {'n_estimators':100, 'max_depth':4, 'min_samples_split':2, 'learning_rate': 0.05}

gbr_model = GradientBoostingRegressor(**params)
gbr_model.fit(X_train,y_train)
gbr_pred = gbr_model.predict(X_test)
gbr_score = np.sqrt(mean_squared_error(gbr_pred,y_test))
print("gbr: {:.4f}".format(gbr_score))

In [ ]:
from xgboost import XGBRegressor

xgb = XGBRegressor(n_estimators=1000, learning_rate=0.01)
xgb_model = xgb.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_train, y_train)],
             verbose=False)
xgb.score(X_train,y_train)
xgb_pred = xgb_model.predict(X_test)
xgb_score = np.sqrt(mean_squared_error(xgb_pred,y_test))
print("xgb: {:.4f}".format(xgb_score))