In [153]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
import sklearn.linear_model as linear_model

from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import LabelEncoder

from scipy import stats
from scipy.stats import skew,norm  # for some statistics
from scipy.special import boxcox1p

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import  GradientBoostingClassifier,RandomForestClassifier

import lightgbm as lgbm
import xgboost as xgb
from catboost import CatBoostClassifier

from sklearn.linear_model import  LinearRegression, Ridge
import os, gc, warnings
warnings.filterwarnings('ignore')

In [154]:
ttrain = pd.read_csv('Train.csv')
ttest = pd.read_csv('Test.csv')
submission = pd.read_csv("SampleSubmission.csv")

In [155]:
fin_data = pd.concat([ttrain,ttest]).reset_index(drop=True)

In [156]:
fin_data.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,NaN,NaN,Car Classic,0.0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,NaN,NaN,Car Classic,1.0
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,NaN,NaN,Car Classic,0.0
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,NaN,NaN,NaN,NaN,NaN,CarSafe,0.0
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,NaN,NaN,NaN,Lagos,Lagos,Muuve,1.0

In [157]:
# making boolean series for a team name
filter1 = fin_data["State"] =="Lagos"
  
# making boolean series for age
#filter2 = data["Age"]>24
  
# filtering data on basis of both filters
fin_data.where(filter1)

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20.0,2010-08-29,3.0,NaN,NaN,NaN,Lagos,Lagos,Muuve,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13276,ID_ZTTHC5X,2010-12-05,2011-12-04,Male,67.0,2010-12-05,2.0,JEEP,Black,TOYOTA,Victoria Island,Lagos,Car Classic,NaN
13277,ID_ZUJAFUP,2010-01-14,2011-01-13,Male,43.0,2010-01-14,1.0,Saloon,Silver,Hyundai,Surulere,Lagos,Car Classic,NaN
13278,ID_ZWHCTUM,2010-07-26,2011-07-25,Male,30.0,2010-07-26,1.0,Truck,White,Iveco,Victoria Island,Lagos,CVTP,NaN
13279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## A little data processing

In [158]:
pd.crosstab(fin_data.LGA_Name, fin_data.State)

State,ABULE-EGBA,AJAO-ESTATE,Aba-North,Aba-South,Abia,Aboh-Mbaise,Abuja,Abuja-Municipal,Ado-Ekiti,Ado-Ota,...,Oyo-West,Port-Harcourt,QuaAn-Pan,Rivers,Udi-Agwu,Ughelli-North,Umuahia-South,Warri-Central,Warri-North,Warri-South
LGA_Name,,,,,,,,,,,,,,,,,,,,,
IFAKO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABULE EGBA,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AGBARA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AJAO ESTATE,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AKOKO-EDO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yenagoa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yorro,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zaria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zaria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
kumbotso,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [159]:
## There are too many zeros

In [160]:
fin_data.drop(['ID','LGA_Name'], axis =1, inplace = True)

In [161]:
fin_data.head(10)

,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,State,ProductName,target
0,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,NaN,Car Classic,0.0
1,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,NaN,Car Classic,1.0
2,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,NaN,Car Classic,0.0
3,2010-08-21,2011-08-20,Male,2,2010-08-21,1,NaN,NaN,NaN,NaN,CarSafe,0.0
4,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,NaN,NaN,NaN,Lagos,Muuve,1.0
5,2010-10-21,2011-10-20,Male,37,2010-10-21,2,NaN,NaN,NaN,NaN,Car Classic,0.0
6,2010-08-02,2011-08-01,Female,40,2010-08-02,3,NaN,NaN,NaN,Lagos,CVTP,0.0
7,2010-09-12,2011-09-11,Male,43,2010-09-12,1,Saloon,NaN,TOYOTA,NaN,CarSafe,0.0
8,2010-07-06,2011-07-05,Female,71,2010-07-06,2,JEEP,Black,REXTON,Benue,Car Classic,0.0
9,2010-12-18,2011-12-17,Female,58,2010-12-18,1,NaN,NaN,NaN,Eti-Osa,Car Classic,0.0

In [162]:
import re
all_data = fin_data.rename(columns = lambda x:re.sub('[*=/,&^#@]+', '', x))

## DEALING WITH MISSING VALUES

In [163]:
fin_data.isnull().sum()

Policy Start Date            0
Policy End Date              0
Gender                     400
Age                          0
First Transaction Date       0
No_Pol                       0
Car_Category              4110
Subject_Car_Colour        7659
Subject_Car_Make          2724
State                     7144
ProductName                  0
target                    1202
dtype: int64

In [164]:
list = []
for i in fin_data.columns:
    kd = fin_data[i].isna().sum()
    ml = len(fin_data[i])
    jd = kd/ml * 100
    
    
    if jd > 70:
        fin_data.drop(i, axis = 1, inplace = True)
        list.append(i)
        
        
        """ Dropping fetaures with missing values greater than 70% """

In [165]:
#fin_data['age'].fillna(fin_data['age'].median(), inplace = True) ## replaced the missing value in age with the median
## median is robust to outliers.
fin_data['Gender'].value_counts()

Male            8356
Female          3679
Entity           300
Joint Gender     238
NOT STATED       190
NO GENDER         76
SEX               42
Name: Gender, dtype: int64

In [166]:
pd.crosstab(fin_data['Gender'], fin_data['target'])

target         0.0  1.0
Gender
Entity         183   94
Female        2969  358
Joint Gender   201   22
Male          6715  902
NO GENDER       53   13
NOT STATED     169    6
SEX             35    0

In [167]:
mapper = {'Joint Gender':'Other', 'NOT STATED':'Other', 'NO GENDER': 'Other', 'SEX':"Other"}
fin_data.Gender = fin_data.Gender.replace(mapper)

# Confirm mappings
fin_data.Gender.value_counts()

Male      8356
Female    3679
Other      546
Entity     300
Name: Gender, dtype: int64

In [168]:
fin_data['State'].unique()

array([nan, 'Lagos', 'Benue', 'Eti-Osa', 'Delta', 'Ogun',
       'Abuja-Municipal', 'Oshodi-Isolo', 'Ibeju-Lekki', 'Ibadan-West',
       'Obia-Akpor', 'Ibadan-East', 'Kaduna-South', 'Amuwo-Odofin',
       'Anambra', 'Rivers', 'Niger-State', 'Edo', 'Akwa-Ibom',
       'ENUGU-EAST', 'Abuja', 'Kaduna', 'Esan-West', 'Obafemi-Owode',
       'Orile-Iganmu', 'Ifako-Ijaye', 'Ibadan-North', 'Imo', 'Jos-North',
       'Ondo-West', 'Kaduna-North', 'Aniocha-South', 'Awka-South',
       'Ile-Oluji', 'Ijebu-Ode', 'Port-Harcourt', 'Nnewi-North',
       'Aboh-Mbaise', 'Oyo', 'Akoko-West', 'Warri-Central', 'Cross-River',
       'Jos-South', 'Onitsha-North', 'Osun', 'Ajeromi-Ifelodun',
       'Kano-Municipal', 'Ife-Central', 'Ilorin-West', 'Lagelu-North',
       'Owerri-Municipal', 'Nsit-Ubium', 'Udi-Agwu', 'Essien-Udim',
       'Owerri-West', 'Ondo', 'Ogbmosho-South', 'Umuahia-South',
       'ABULE-EGBA', 'Enugu-North', 'Ovia-SouthWest', 'Kebbi',
       'Ajegunle-State', 'Ekiti-West', 'Ogun-Waterside', 'Ife-North',
       'Anambra-East', 'Nasarawa', 'Etsako-West', 'Kwara', 'Aba-North',
       'Awka-North', 'Ibarapa-Central', 'Idemili-North', 'Ogba-Ndoni',
       'Calabar-Municipality', 'AJAO-ESTATE', 'Ekiti-East', 'Gombe',
       'Bayelsa', 'Ado-Ota', 'Oyo-East', 'Ilorin-East', 'Ilesha-West',
       'Central-Abuja', 'Kano', 'Owerri-North', 'Abia', 'Kogi',
       'Ilesha-East', 'Esan-Central', 'Isoko-south', 'Ethiope-East',
       'QuaAn-Pan', 'Warri-North', 'Ado-Ekiti', 'Bauchi', 'Ijebu-East',
       'Onitsha-South', 'Ughelli-North', 'Warri-South', 'Ebonyi',
       'Oyo-West', 'Aba-South', 'N-A', 'Isoko-North', 'Oshimili-North',
       'Ndokwa-East', 'Nnewi-South', 'ENUGU-SOUTH', 'Ijebu-North',
       'Asari-Toru', 'Idemili-south', 'Ngor-Okpala'], dtype=object)

In [169]:
pd.crosstab(fin_data['State']=='', fin_data['target'])

target    0.0   1.0
State
False   10624  1455

In [170]:
## Mapping  by geopolitical zones

mapper = {'Ibeju-Lekki':'Geo1','Oshodi-Isolo':'Geo1','ABULE-EGBA':'Geo1','AJAO-ESTATE':'Geo1','Orile-Iganmu':'Geo1',
          'Ajeromi-Ifelodun':'Geo1','Ifako-Ijaye':'Geo1','Amuwo-Odofin':'Geo1','Eti-Osa':'Geo1','Ajegunle-State':'Geo1',
          'Ibadan-East':'Geo1','Ibadan-West':'Geo1', 'Ibadan-North':'Geo1','Oyo-East':'Geo1','Oyo':'Geo1',
          'Ogbmosho-South':'Geo1','Oyo-West':'Geo1', 'Lagelu-North':'Geo1','Ibarapa-Central':'Geo1','Lagos':'Geo1',
          'Ife-Central':'Geo1', 'Ife-North':'Geo1','Ilesha-West':'Geo1','Ilesha-East':'Geo1','Osun':'Geo1',
          'Ile-Oluji':'Geo1','Ondo_West':'Geo1','Ondo':'Geo1',
          'Obafemi-Owode':'Geo1','Ogun-Waterside':'Geo1','Ogun-Waterside':'Geo1','Ijebu-North':'Geo1','Ijebu-Ode':'Geo1',
          'Ijebu-East':'Geo1', 'Ado-Ota':'Geo1', 'Ogun':'Geo1',
          'Ado-Ekiti':'Geo1', 'Ekiti-East':'Geo1','Akoko-West':'Geo1','Ondo-West':'Geo1','Ekiti-West':'Geo1',
          
          
          'Onitsha-North':'Geo2', 'Onitsha-South':'Geo2','Anambra-East':'Geo2','Awka-North':'Geo2',
          'Awka-South':'Geo2','Idemili-south':'Geo2','Nnewi-South':'Geo2','Idemili-North':'Geo2','Anambra':'Geo2',
          'Ngor-Okpala':'Geo2','Owerri-North':'Geo2','Owerri-West':'Geo2','Owerri-Municipal':'Geo2',
          'Owerri-West':'Geo2','Imo':'Geo2','Aboh-Mbaise':'Geo2',
          'Umuahia-South':'Geo2', 'Aba-North':'Geo2','Aba-South':'Geo2','Abia':'Geo2','Udi-Agwu':'Geo2',
          'Enugu-North':'Geo2','ENUGU-EAST':'Geo2','ENUGU-SOUTH':'Geo2','Nnewi-North':'Geo2','Ebonyi':'Geo2',
          
          
          'Essien-Udim':'Geo3','Nsit-Ubium':'Geo3','Akwa-Ibom':'Geo3',
          'Obia-Akpor':'Geo3','Port-Harcourt':'Geo3','Asari-Toru':'Geo3','Calabar-Municipality':'Geo3',
          'Rivers':'Geo3','Cross-River':'Geo3', 'Ovia-SouthWest':'Geo3','Ogba-Ndoni':'Geo3',
          'Warri':'Geo3','Warri-Central':'Geo3','Warri-South':'Geo3','Oshimili-North':'Geo3',
          'Ethiope-East':'Geo3','Ughelli-North':'Geo3', 'Ndokwa-East':'Geo3','Isoko-south':'Geo3',
          'Isoko-North':'Geo3','Warri-North':'Geo3','Delta':'Geo3','Esan-Central':'Geo3','Aniocha-South':'Geo3',
          'Bayelsa':'Geo3','Esan-West':'Geo3','Edo':'Geo3','Etsako-West':'Geo3',
          
          
          'Abuja-Municipal':'Geo4','Central-Abuja':'Geo4','Abuja':'Geo4','QuaAn-Pan':'Geo4',
          'Ilorin-West':'Geo4','Ilorin-East':'Geo4','Kwara':'Geo4','Benue':'Geo4','Nasarawa':'Geo4','Kogi':'Geo4',
          'Niger':'Geo4','Jos-North':'Geo4','Jos-South':'Geo4','Niger-State':'Geo4',
          
          
          'Kaduna-South':'Geo5','Kaduna':'Geo5','Kano':'Geo5','Kaduna-North':'Geo5','Kano-Municipal':'Geo5','Kebbi':'Geo5',
          
          
          'Bauchi':'Geo6','Gombe':'Geo6',
          
          
          'N-A':'None'}

fin_data.State = fin_data.State.replace(mapper)

# Confirm mappings
fin_data.State.value_counts()

Geo1    4377
Geo4    1083
Geo3     451
Geo2     164
Geo5      57
Geo6       4
None       1
Name: State, dtype: int64

In [171]:
pd.crosstab(fin_data.State, fin_data.target)

target   0.0  1.0
State
Geo1    3338  661
Geo2     134   11
Geo3     329   82
Geo4     789  190
Geo5      49    4
Geo6       2    1
None       1    0

In [172]:
## Geopilitical zones 2,5,6 are barely represented. Let's make them into just one

mapper = {'Geo5':'Geo2','Geo6':'Geo2'}
fin_data.State = fin_data.State.replace(mapper)

# Confirm mappings
fin_data.State.value_counts()

Geo1    4377
Geo4    1083
Geo3     451
Geo2     225
None       1
Name: State, dtype: int64

In [173]:
## Geopilitical zones 2,5,6 are barely represented. Let's make them into just one

mapper = {'Geo2':'Geo4','Geo3':'Geo4'}
fin_data.State = fin_data.State.replace(mapper)

# Confirm mappings
fin_data.State.value_counts()

Geo1    4377
Geo4    1759
None       1
Name: State, dtype: int64

In [174]:
def fill(col):
    for i in col:
        #fin_data[i].fillna(fin_data[i].mode()[0], inplace = True)
        #fin_data[i].astype(str)
        fin_data[i].fillna(fin_data[i].mode()[0], inplace = True)
        
        """ Filling up the remaining features with a very large number """

In [175]:
fill(fin_data.drop(["target","State",'Car_Category'],axis=1))

In [176]:
fin_data["State"].fillna('None', inplace = True)
fin_data["Car_Category"].fillna('None', inplace = True)

In [177]:
fin_data['State'].unique()

array(['None', 'Geo1', 'Geo4'], dtype=object)

In [178]:
dcol = [col for col in fin_data.columns if 'Date' in col]

In [179]:
for col in dcol:
    fin_data[col] = pd.to_datetime(fin_data[col])

In [180]:
for col in dcol:
  for date_feature in ['year', 'month', 'day']:
    fin_data[col+date_feature] = getattr(fin_data[col].dt, date_feature)

fin_data.head()

,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,State,...,target,Policy Start Dateyear,Policy Start Datemonth,Policy Start Dateday,Policy End Dateyear,Policy End Datemonth,Policy End Dateday,First Transaction Dateyear,First Transaction Datemonth,First Transaction Dateday
0,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,None,...,0.0,2010,5,14,2011,5,13,2010,5,14
1,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,None,...,1.0,2010,11,29,2011,11,28,2010,11,29
2,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,None,...,0.0,2010,3,21,2011,3,20,2010,3,21
3,2010-08-21,2011-08-20,Male,2,2010-08-21,1,None,Black,TOYOTA,None,...,0.0,2010,8,21,2011,8,20,2010,8,21
4,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,None,Black,TOYOTA,Geo1,...,1.0,2010,8,29,2010,12,31,2010,8,29

In [181]:
#pd.crosstab(fin_data['Policy Start Dateyear'], fin_data['First Transaction Dateyear'])

In [182]:
## Too many of the dates are in 2010, so it's advisable to drop both columns

In [183]:
pd.crosstab(fin_data['Policy Start Dateyear'], fin_data['Policy End Dateyear'])

## better to find differnce between the dates because using the years would not help all that much

Policy End Dateyear    2010   2011  2012  2016  2034  2037  2041
Policy Start Dateyear
2001                      0      1     0     0     0     0     0
2002                      0      1     0     0     0     0     0
2003                      0      1     0     0     1     0     0
2005                      0      1     0     0     0     0     0
2006                      0      1     0     1     0     0     0
2007                      0      0     0     0     0     1     0
2009                      0      5     0     1     0     0     0
2010                    177  13086     2     0     0     0     2

In [184]:
pd.crosstab(fin_data['Policy End Dateyear'], fin_data['First Transaction Dateyear'])

## finally, we drop the three year features

First Transaction Dateyear  2001  2002  2003  2005  2006  2007  2009   2010
Policy End Dateyear
2010                           0     0     0     0     0     0     0    177
2011                           1     1     1     1     1     0     5  13086
2012                           0     0     0     0     0     0     0      2
2016                           0     0     0     0     1     0     1      0
2034                           0     0     1     0     0     0     0      0
2037                           0     0     0     0     0     1     0      0
2041                           0     0     0     0     0     0     0      2

In [185]:
pd.crosstab(fin_data['Policy Start Dateday'], fin_data['First Transaction Dateday'])

First Transaction Dateday,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
Policy Start Dateday,,,,,,,,,,,,,,,,,,,,,
1,430,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,398,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,351,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,446,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,458,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,432,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,431,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,445,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,409,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,357,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,423,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,425,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,437,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,499,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,457,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,486,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,521,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,418,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,471,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,263

In [186]:
""" 
    drop either fin_data['First Transaction Datemonth']) or fin_data['Policy Start Datemonth']
    and
    drop either fin_data['First Transaction Dateday']) or fin_data['Policy Start Dateday'] due to very high correlation
"""

" \n    drop either fin_data['First Transaction Datemonth']) or fin_data['Policy Start Datemonth']\n    and\n    drop either fin_data['First Transaction Dateday']) or fin_data['Policy Start Dateday'] due to very high correlation\n"

In [187]:
fin_data.head()

,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,State,...,target,Policy Start Dateyear,Policy Start Datemonth,Policy Start Dateday,Policy End Dateyear,Policy End Datemonth,Policy End Dateday,First Transaction Dateyear,First Transaction Datemonth,First Transaction Dateday
0,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,None,...,0.0,2010,5,14,2011,5,13,2010,5,14
1,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,None,...,1.0,2010,11,29,2011,11,28,2010,11,29
2,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,None,...,0.0,2010,3,21,2011,3,20,2010,3,21
3,2010-08-21,2011-08-20,Male,2,2010-08-21,1,None,Black,TOYOTA,None,...,0.0,2010,8,21,2011,8,20,2010,8,21
4,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,None,Black,TOYOTA,Geo1,...,1.0,2010,8,29,2010,12,31,2010,8,29

In [188]:
fin_data["Policy_Month_Diff"] = abs(fin_data['Policy End Datemonth'] - fin_data['Policy Start Datemonth'])
fin_data['Policy_Day_Diff'] = abs(fin_data['Policy End Date'] - fin_data['Policy Start Date']).dt.days
fin_data['Policy_Week_Diff'] = abs(round(fin_data['Policy_Day_Diff']/7, 0))

## for most of the features, the time period falls in the same year. So, taking the monthly difference makes sense.
## finding the number of working weeks might also help our model. We can drop the policy days features to avoid multicollinearity.

In [189]:
fin_data.drop(['Policy Start Date','Policy End Date','First Transaction Date'], axis =1, inplace = True)
fin_data.drop(['Policy Start Dateyear','Policy End Dateyear','First Transaction Dateyear'], axis =1, inplace = True)
fin_data.drop(['First Transaction Datemonth'], axis =1, inplace = True)
fin_data.drop(['First Transaction Dateday'], axis =1, inplace = True)

In [190]:
fin_data.drop(['Policy_Day_Diff'], axis =1, inplace = True)

In [191]:
## drop policy end date day and policy end datemonth since we have taken the difference already
fin_data.drop(['Policy End Dateday','Policy End Datemonth'], axis =1, inplace = True)

In [192]:
fin_data.corr()

,Age,No_Pol,target,Policy Start Datemonth,Policy Start Dateday,Policy_Month_Diff,Policy_Week_Diff
Age,1.000000,0.018007,-0.028937,-0.015398,0.009114,-0.019879,0.007290
No_Pol,0.018007,1.000000,0.074245,-0.021703,-0.037983,0.123153,-0.019761
target,-0.028937,0.074245,1.000000,-0.072584,-0.019590,0.070779,-0.022787
Policy Start Datemonth,-0.015398,-0.021703,-0.072584,1.000000,-0.004020,0.218722,-0.074350
Policy Start Dateday,0.009114,-0.037983,-0.019590,-0.004020,1.000000,-0.093216,0.003956
Policy_Month_Diff,-0.019879,0.123153,0.070779,0.218722,-0.093216,1.000000,-0.210570
Policy_Week_Diff,0.007290,-0.019761,-0.022787,-0.074350,0.003956,-0.210570,1.000000

## Dealing with the age feature

In [193]:
pd.crosstab(fin_data['Age'], fin_data['target'])

target  0.0  1.0
Age
-6099     1    0
-5939     0    2
-76       3    0
-51       1    0
-27       0    1
...     ...  ...
 128      1    0
 133      1    0
 140      1    0
 144      2    0
 320     11    1

[110 rows x 2 columns]

In [194]:
listt = []
for i in range(len(fin_data['Age'])):
    if fin_data['Age'][i] < 0:
        fin_data['Age'][i] = abs(fin_data['Age'][i])

In [195]:
fin_data['Age'][fin_data['Age']==6099] = fin_data['Age'].mode()[0]
fin_data['Age'][fin_data['Age']==5939] = fin_data['Age'].mode()[0]

In [196]:
fin_data['Age'].value_counts()

40     903
50     686
41     550
36     537
38     514
      ...
90       1
17       1
128      1
112      1
88       1
Name: Age, Length: 101, dtype: int64

## REMOVING SKEWNESS AND OUTLIERS

In [197]:
numerical = fin_data.drop(['target'], axis =1).dtypes[fin_data.drop(['target'], axis =1).dtypes != 'object'].index

skewness = fin_data.drop(['target'], axis =1)[numerical].apply(lambda x: skew(x.dropna())).sort_values(ascending=False)

skewness_df = pd.DataFrame({'Skewness': skewness})
skewness_df.head(10)

                         Skewness
Policy_Week_Diff        44.518024
No_Pol                   3.772737
Age                      3.278167
Policy_Month_Diff        3.210912
Policy Start Datemonth   0.030754
Policy Start Dateday    -0.047862

In [198]:
fin_data.Policy_Week_Diff.unique()

array([  52.,   18.,   50.,   46.,   26.,   51.,   17.,   48.,   47.,
         31.,   43.,   39.,   45.,   15.,   34.,   49.,   25.,   22.,
         35.,   38.,   13.,   27.,  104.,   14.,   33.,   19.,   41.,
         37.,   36.,    4.,   32.,   44.,   29.,    2.,   42.,    3.,
         20., 1591.,   28.,   40.,   10., 1587.,   23.,   53.,   12.,
         30.,   56.,   16.,   74.,   21.,    9.,   24.,    7.,  382.,
          5.,    6.,  531.,   54.,   72.,   63.,  522.,  321.,   78.,
        417.,  469.,    8.,  266.,   55.])

In [199]:
from scipy.special import boxcox1p

boxcox_features = skewness_df[np.abs(skewness_df['Skewness'])>0.75].index
lam = 0.25

for col in boxcox_features:
    fin_data.loc[:, col] = boxcox1p(fin_data[col], lam)

In [200]:
# from scipy.stats import norm, skew, probplot

# fin_data['Policy_Week_Diff'] = np.log1p(fin_data['Policy_Week_Diff'])

#mu, sigma = norm.fit(fin_data['Policy_Week_Diff'])
#sns.distplot(fin_data['Policy_Week_Diff'], fit=norm)
#plt.legend(['Normal distribution ($\mu=$ {:.2f} and $\sigma=$ {:.2f} )'.format(mu, sigma)], loc = 'best')
#plt.ylabel('Frequency')
#plt.title('Histogram of SalePrice');

#fig = plt.figure()
#res = probplot(fin_data['Policy_Week_Diff'], plot=plt);

In [201]:
numerical = fin_data.dtypes[fin_data.dtypes != 'object'].index

skewness = fin_data[numerical].apply(lambda x: skew(x.dropna())).sort_values(ascending=False)

skewness_df = pd.DataFrame({'Skewness': skewness})
skewness_df.head(10)

                        Skewness
Policy_Month_Diff       2.623812
No_Pol                  2.484713
target                  2.332096
Policy_Week_Diff        0.550963
Policy Start Datemonth  0.030754
Policy Start Dateday   -0.047862
Age                    -1.356334

In [202]:
pd.crosstab(fin_data['Subject_Car_Colour'], fin_data['target'])

target               0.0  1.0
Subject_Car_Colour
As Attached          381  117
Ash                  104   29
B.Silver               2    0
Beige Mitalic          1    0
Black               8122  720
Black & Orange         2    0
Black & White          1    1
Blue                 260  101
Blue & Red             1    2
Blue Sky               1    0
Blue&White&Red         0    1
Brown                 53    5
Burgundy               1    0
Champagne              1    0
Cream                  7    1
D. Gold                1    0
D. Red                 3    0
Dark Blue              2    0
Dark Gray              4    1
Dark Green             1    0
Dark Grey              2    0
Dark Red               1    0
Gold                 135   38
Gray & Gray            2    0
Gray & Silver          2    0
Green                194   39
Grey                 388  126
Light Blue             1    0
Light Gray             1    0
Light Green            1    2
Orange                 5    0
Purple                 4    0
Red                  192   59
Red & Black            2    0
Red & Blue             1    0
Red & White            1    3
Red & Yellow           1    0
Silver               435  119
White                231   62
White & Blue           5    0
White & Red            1    1
White & Yellow         1    0
Wine                  62   27
Yellow                 7    1
Yellow & White         1    0

In [203]:
## I dont beliove car color is important to our predicton, so I am dropping it.

In [204]:
fin_data.drop(['Subject_Car_Colour'], axis =1, inplace = True)

In [205]:
pd.crosstab(fin_data['Subject_Car_Make'], fin_data['target'])

target            0.0  1.0
Subject_Car_Make
.                  30   14
ABG                 1    0
ACURA              58    7
As Attached         6    5
Ashok Leyland       1    0
...               ...  ...
Volkswagen        117    5
Volvo              29    8
Wrangler Jeep       2    0
Yamaha              1    0
ZOYTE               1    0

[74 rows x 2 columns]

In [206]:
fin_data.head()

,Gender,Age,No_Pol,Car_Category,Subject_Car_Make,State,ProductName,target,Policy Start Datemonth,Policy Start Dateday,Policy_Month_Diff,Policy_Week_Diff
0,Male,5.438444,0.756828,Saloon,TOYOTA,None,Car Classic,0.0,5,14,0.000000,6.792672
1,Female,7.962790,0.756828,JEEP,TOYOTA,None,Car Classic,1.0,11,29,0.000000,6.792672
2,Male,6.302038,0.756828,Saloon,TOYOTA,None,Car Classic,0.0,3,21,0.000000,6.792672
3,Male,1.264296,0.756828,None,TOYOTA,None,CarSafe,0.0,8,21,0.000000,6.792672
4,Entity,4.562781,1.656854,None,TOYOTA,Geo1,Muuve,1.0,8,29,1.981395,4.351191

In [207]:
pd.crosstab(fin_data['Car_Category'], fin_data['target'])

target                    0.0  1.0
Car_Category
Bus                        45    9
CAMRY CAR HIRE              1    0
JEEP                     1773  248
Mini Bus                   26   10
Mini Van                   11    2
Motorcycle                 15    2
None                     3410  328
Pick Up                    22    8
Pick Up > 3 Tons            1    0
Saloon                   5219  815
Sedan                       7    5
Shape Of Vehicle Chasis     4    2
Station 4 Wheel             5    0
Tipper Truck                1    0
Truck                      73   24
Van                         2    1
Wagon                       9    1

In [208]:
fin_data['Car_Category'].unique()

array(['Saloon', 'JEEP', 'None', 'Motorcycle', 'Truck', 'Bus', 'Mini Bus',
       'Pick Up', 'Mini Van', 'Van', 'Pick Up > 3 Tons', 'CAMRY CAR HIRE',
       'Wagon', 'Shape Of Vehicle Chasis', 'Sedan', 'Station 4 Wheel',
       'Tipper Truck'], dtype=object)

In [209]:
fin_data['Car_Category'].unique().shape

(17,)

In [210]:
fin_data['Subject_Car_Make'].unique()

array(['TOYOTA', 'REXTON', 'Lexus', 'Hyundai', 'Iveco', 'DAF', 'Honda',
       'Mercedes', 'Jincheng', 'ACURA', 'Ford', 'Volkswagen', 'Nissan',
       '.', 'Pontiac', 'Range Rover', 'Kia', 'Mitsubishi', 'Scania',
       'BMW', 'Infiniti', 'Renault', 'Volvo', 'Hummer', 'Mack',
       'Grand Cherokee', 'Porsche', 'Peugeot', 'Land Rover', 'Chevrolet',
       'Mazda', 'Man', 'Jeep', 'Audi', 'Suzuki', 'MINI COOPER', 'KA',
       'As Attached', 'Innson', 'Isuzu', 'Skoda', 'Jaguar', 'Chrysler',
       'Dodge', 'GMC', 'Land Rover.', 'Subaru', 'GAC', 'Fiat', 'Opel',
       'Astra', 'Motorcycle', 'ZOYTE', 'Seat', 'FOTON', 'Howo', 'Lincoln',
       'Rols Royce', 'CHANGAN', 'LIBERTY', 'ABG', 'Yamaha', 'Black',
       'Tata', 'Ashok Leyland', 'Geely', 'Caddillac', 'Wrangler Jeep',
       'Raston', 'MG', 'BRILLIANCE', 'Buik', 'COMMANDER', 'Bajaj',
       'Datsun'], dtype=object)

In [211]:
fin_data['Subject_Car_Make'].unique().shape

(75,)

In [212]:
## Subject_Car_Make has too many underrepresented values, so we drop it.
fin_data.drop(['Subject_Car_Make'], axis=1, inplace = True)

In [213]:
"""The car_category also has too many underrepresented values, so we regroup it.
"""

'The car_category also has too many underrepresented values, so we regroup it.\n'

In [214]:
fin_data.Car_Category.value_counts()

Saloon                     6633
None                       4110
JEEP                       2223
Truck                       108
Bus                          56
Mini Bus                     45
Pick Up                      32
Motorcycle                   18
Sedan                        14
Mini Van                     13
Wagon                        10
Station 4 Wheel               6
Shape Of Vehicle Chasis       6
Van                           3
Pick Up > 3 Tons              2
Tipper Truck                  1
CAMRY CAR HIRE                1
Name: Car_Category, dtype: int64

In [215]:
"""Regrouping the Car_Category feature"""

mapper = {'Mini Van':'Other','Pick Up':'Other','Sedan':'Other','Mini Van':'Other',
          'Tipper Truck':'Other',"Van":'Other',"Bus":'Other',"Truck":"Other",
         "Mini Bus":'Other', "Wagon": 'Other',"Shape Of Vehicle Chasis":'Other', 
         "Station 4 Wheel": 'Other', "Pick Up > 3 Tons": 'Other', "CAMRY CAR HIRE": 'Other',"Motorcycle": 'Other'}
fin_data.Car_Category = fin_data.Car_Category.replace(mapper)

# Confirm mappings
fin_data.Car_Category.value_counts()

Saloon    6633
None      4110
JEEP      2223
Other      315
Name: Car_Category, dtype: int64

In [216]:
pd.crosstab(fin_data['target'], fin_data['Car_Category'])

Car_Category  JEEP  None  Other  Saloon
target
0.0           1773  3410    222    5219
1.0            248   328     64     815

In [217]:
#pd.crosstab(fin_data['Gender'], fin_data['target'])

In [218]:
## intution: join the "other" and "none" category together

mapper = {"None": 'Other'}
fin_data.Car_Category = fin_data.Car_Category.replace(mapper)

# Confirm mappings
fin_data.Car_Category.value_counts()

Saloon    6633
Other     4425
JEEP      2223
Name: Car_Category, dtype: int64

In [219]:
fin_data.head()

,Gender,Age,No_Pol,Car_Category,State,ProductName,target,Policy Start Datemonth,Policy Start Dateday,Policy_Month_Diff,Policy_Week_Diff
0,Male,5.438444,0.756828,Saloon,None,Car Classic,0.0,5,14,0.000000,6.792672
1,Female,7.962790,0.756828,JEEP,None,Car Classic,1.0,11,29,0.000000,6.792672
2,Male,6.302038,0.756828,Saloon,None,Car Classic,0.0,3,21,0.000000,6.792672
3,Male,1.264296,0.756828,Other,None,CarSafe,0.0,8,21,0.000000,6.792672
4,Entity,4.562781,1.656854,Other,Geo1,Muuve,1.0,8,29,1.981395,4.351191

In [220]:
fin_data.ProductName.value_counts()

Car Classic         7142
CarSafe             4154
Customized Motor     605
Car Plus             523
CVTP                 509
CarFlex              194
Muuve                100
Motor Cycle           49
Car Vintage            5
Name: ProductName, dtype: int64

In [221]:
mapper = {"Car Vintage": 'Car Classic',"Motor Cycle": "Customized Motor"}
fin_data.ProductName = fin_data.ProductName.replace(mapper)

# Confirm mappings
fin_data.ProductName.value_counts()

Car Classic         7147
CarSafe             4154
Customized Motor     654
Car Plus             523
CVTP                 509
CarFlex              194
Muuve                100
Name: ProductName, dtype: int64

In [222]:
mapper = {"Customized Motor": 'Other', "Car Plus": "Other", "CVTP": 'Other',"CarFlex": "Other", "Muuve": 'Other'}
fin_data.ProductName = fin_data.ProductName.replace(mapper)

# Confirm mappings
fin_data.ProductName.value_counts()

Car Classic    7147
CarSafe        4154
Other          1980
Name: ProductName, dtype: int64

In [223]:
pd.crosstab(fin_data.ProductName, fin_data.target)

target        0.0   1.0
ProductName
Car Classic  5416  1074
CarSafe      3760    14
Other        1448   367

In [224]:
fin_data.isna().sum()

Gender                       0
Age                          0
No_Pol                       0
Car_Category                 0
State                        0
ProductName                  0
target                    1202
Policy Start Datemonth       0
Policy Start Dateday         0
Policy_Month_Diff            0
Policy_Week_Diff             0
dtype: int64

## ENCODING CATEGORICAL FEATURES

In [225]:
# Label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Create new features
#fin_data['ProductName'] = le.fit_transform(fin_data['ProductName'])
#fin_data['Car_Category'] = le.fit_transform(fin_data['Car_Category'])
#fin_data['State'] = le.fit_transform(fin_data['State'])
#fin_data['Gender'] = le.fit_transform(fin_data['State'])

In [226]:
from sklearn.model_selection import StratifiedKFold

In [227]:
skf = StratifiedKFold(n_splits = 5, shuffle = True, random_state=99)

In [228]:
split=ttrain.shape[0]
train_df=fin_data[:split]
test_df=fin_data[split:]

In [229]:
def test_mean_target_encoding(train, test, target, categorical, alpha=5):
    # Calculate global mean on the train data
    global_mean = train[target].mean()
    
    # Group by the categorical feature and calculate its properties
    train_groups = train.groupby(categorical)
    category_sum = train_groups[target].sum()
    category_size = train_groups.size()
    
    # Calculate smoothed mean target statistics
    train_statistics = (category_sum + global_mean * alpha) / (category_size + alpha)
    
    # Apply statistics to the test data and fill new categories
    test_feature = test[categorical].map(train_statistics).fillna(global_mean)
    return test_feature.values

In [230]:
def train_mean_target_encoding(train, target, categorical, alpha=5):
    # Create 5-fold cross-validation
    kf = KFold(n_splits = 5, shuffle = True, random_state=99)
    train_feature = pd.Series(index=train.index)
    
    # For each folds split
    for train_index, test_index in kf.split(train):
        cv_train, cv_test = train.iloc[train_index], train.iloc[test_index]
      
        # Calculate out-of-fold statistics and apply to cv_test
        cv_test_feature = test_mean_target_encoding(cv_train, cv_test, target, categorical, alpha)
        
        # Save new feature for this particular fold
        train_feature.iloc[test_index] = cv_test_feature       
    return train_feature.values

In [231]:
def mean_target_encoding(train, test, target, categorical, alpha=5):
  
    # Get the train feature
    train_feature = train_mean_target_encoding(train, target, categorical, alpha)
  
    # Get the test feature
    test_feature = test_mean_target_encoding(train, test, target, categorical, alpha)
    
    # Return new features to add to the model
    return train_feature, test_feature

In [232]:
train_feat, test_feat = mean_target_encoding(train_df, test_df, 'target', 'Car_Category', alpha=5)

In [233]:
train_df['Car_Category'] = train_feat
test_df['Car_Category'] = test_feat

In [234]:
train_feat2, test_feat2 = mean_target_encoding(train_df, test_df, 'target', 'State', alpha=5)

In [235]:
train_df['State'] = train_feat2
test_df['State'] = test_feat2

In [236]:
train_feat3, test_feat3 = mean_target_encoding(train_df, test_df, 'target', 'ProductName', alpha=5)

In [237]:
train_df['ProductName'] = train_feat3
test_df['ProductName'] = test_feat3

In [238]:
train_feat4, test_feat4 = mean_target_encoding(train_df, test_df, 'target', 'Gender', alpha=5)

In [239]:
train_df['Gender'] = train_feat4
test_df['Gender'] = test_feat4

In [240]:
test_df.isna().sum()

Gender                       0
Age                          0
No_Pol                       0
Car_Category                 0
State                        0
ProductName                  0
target                    1202
Policy Start Datemonth       0
Policy Start Dateday         0
Policy_Month_Diff            0
Policy_Week_Diff             0
dtype: int64

In [241]:
#test_df = test_df.drop(['target'], axis =1, inplace = True)

In [242]:
X = train_df.drop(['target'], axis =1)
y = train_df['target']

In [243]:
#from imblearn.over_sampling import RandomOverSampler
#ros = RandomOverSampler()
#X, y = ros.fit_resample(X, y)

from imblearn.over_sampling import SMOTE
over = SMOTE()
X, y = over.fit_resample(X, y)


from imblearn.over_sampling import ADASYN
from imblearn.over_sampling import SVMSMOTE
from imblearn.over_sampling import BorderlineSMOTE

In [244]:
#!pip install imblearn

In [4]:
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=19)

NameError: name 'X' is not defined

In [246]:
from catboost import Pool
cat_model= CatBoostClassifier(silent=True, eval_metric = 'AUC')
cat_model= CatBoostClassifier()
cat_model.fit(Pool(X_train,y_train))
cat = cat_model.predict(X_test)

Learning rate set to 0.032625
0:	learn: 0.6647348	total: 23.9ms	remaining: 23.9s
1:	learn: 0.6427403	total: 35.1ms	remaining: 17.5s
2:	learn: 0.6190949	total: 46ms	remaining: 15.3s
3:	learn: 0.6041471	total: 56.8ms	remaining: 14.1s
4:	learn: 0.5838324	total: 67.5ms	remaining: 13.4s
5:	learn: 0.5690742	total: 78.5ms	remaining: 13s
6:	learn: 0.5590893	total: 89.5ms	remaining: 12.7s
7:	learn: 0.5439319	total: 101ms	remaining: 12.5s
8:	learn: 0.5273588	total: 112ms	remaining: 12.3s
9:	learn: 0.5143669	total: 122ms	remaining: 12.1s
10:	learn: 0.5057971	total: 133ms	remaining: 12s
11:	learn: 0.4975183	total: 146ms	remaining: 12.1s
12:	learn: 0.4844134	total: 157ms	remaining: 11.9s
13:	learn: 0.4783417	total: 168ms	remaining: 11.9s
14:	learn: 0.4654401	total: 179ms	remaining: 11.8s
15:	learn: 0.4606698	total: 192ms	remaining: 11.8s
16:	learn: 0.4558520	total: 210ms	remaining: 12.1s
17:	learn: 0.4476899	total: 233ms	remaining: 12.7s
18:	learn: 0.4419824	total: 244ms	remaining: 12.6s
19:	learn: 0.4378739	total: 256ms	remaining: 12.5s
20:	learn: 0.4320916	total: 268ms	remaining: 12.5s
21:	learn: 0.4238915	total: 278ms	remaining: 12.4s
22:	learn: 0.4191315	total: 289ms	remaining: 12.3s
23:	learn: 0.4155691	total: 299ms	remaining: 12.2s
24:	learn: 0.4107281	total: 311ms	remaining: 12.1s
25:	learn: 0.4083592	total: 326ms	remaining: 12.2s
26:	learn: 0.4032610	total: 337ms	remaining: 12.1s
27:	learn: 0.4002281	total: 347ms	remaining: 12.1s
28:	learn: 0.3978806	total: 363ms	remaining: 12.2s
29:	learn: 0.3944468	total: 378ms	remaining: 12.2s
30:	learn: 0.3892674	total: 392ms	remaining: 12.3s
31:	learn: 0.3855179	total: 405ms	remaining: 12.3s
32:	learn: 0.3826361	total: 416ms	remaining: 12.2s
33:	learn: 0.3788957	total: 428ms	remaining: 12.2s
34:	learn: 0.3767557	total: 439ms	remaining: 12.1s
35:	learn: 0.3738175	total: 449ms	remaining: 12s
36:	learn: 0.3713140	total: 467ms	remaining: 12.2s
37:	learn: 0.3698511	total: 478ms	remaining: 12.1s
38:	learn: 0.3658446	total: 489ms	remaining: 12.1s
39:	learn: 0.3639527	total: 504ms	remaining: 12.1s
40:	learn: 0.3626393	total: 514ms	remaining: 12s
41:	learn: 0.3599821	total: 525ms	remaining: 12s
42:	learn: 0.3578697	total: 543ms	remaining: 12.1s
43:	learn: 0.3556653	total: 557ms	remaining: 12.1s
44:	learn: 0.3535633	total: 567ms	remaining: 12s
45:	learn: 0.3521378	total: 578ms	remaining: 12s
46:	learn: 0.3495880	total: 589ms	remaining: 11.9s
47:	learn: 0.3482422	total: 600ms	remaining: 11.9s
48:	learn: 0.3468030	total: 612ms	remaining: 11.9s
49:	learn: 0.3443539	total: 622ms	remaining: 11.8s
50:	learn: 0.3422788	total: 634ms	remaining: 11.8s
51:	learn: 0.3412651	total: 644ms	remaining: 11.7s
52:	learn: 0.3391150	total: 655ms	remaining: 11.7s
53:	learn: 0.3381333	total: 672ms	remaining: 11.8s
54:	learn: 0.3365305	total: 693ms	remaining: 11.9s
55:	learn: 0.3349959	total: 703ms	remaining: 11.9s
56:	learn: 0.3340835	total: 720ms	remaining: 11.9s
57:	learn: 0.3332913	total: 733ms	remaining: 11.9s
58:	learn: 0.3322598	total: 743ms	remaining: 11.9s
59:	learn: 0.3300131	total: 763ms	remaining: 11.9s
60:	learn: 0.3290566	total: 775ms	remaining: 11.9s
61:	learn: 0.3272180	total: 786ms	remaining: 11.9s
62:	learn: 0.3257880	total: 803ms	remaining: 11.9s
63:	learn: 0.3240240	total: 814ms	remaining: 11.9s
64:	learn: 0.3230568	total: 825ms	remaining: 11.9s
65:	learn: 0.3222396	total: 840ms	remaining: 11.9s
66:	learn: 0.3206550	total: 851ms	remaining: 11.9s
67:	learn: 0.3198347	total: 862ms	remaining: 11.8s
68:	learn: 0.3190750	total: 873ms	remaining: 11.8s
69:	learn: 0.3174700	total: 884ms	remaining: 11.7s
70:	learn: 0.3166928	total: 895ms	remaining: 11.7s
71:	learn: 0.3160412	total: 907ms	remaining: 11.7s
72:	learn: 0.3137804	total: 918ms	remaining: 11.7s
73:	learn: 0.3119909	total: 929ms	remaining: 11.6s
74:	learn: 0.3111524	total: 939ms	remaining: 11.6s
75:	learn: 0.3095813	total: 951ms	remaining: 11.6s
76:	learn: 0.3087525	total: 964ms	remaining: 11.6s
77:	learn: 0.3080741	total: 974ms	remaining: 11.5s
78:	learn: 0.3068371	total: 985ms	remaining: 11.5s
79:	learn: 0.3061245	total: 996ms	remaining: 11.5s
80:	learn: 0.3054314	total: 1.01s	remaining: 11.4s
81:	learn: 0.3047562	total: 1.02s	remaining: 11.4s
82:	learn: 0.3032741	total: 1.04s	remaining: 11.5s
83:	learn: 0.3028075	total: 1.05s	remaining: 11.4s
84:	learn: 0.3013488	total: 1.06s	remaining: 11.4s
85:	learn: 0.3002689	total: 1.07s	remaining: 11.4s
86:	learn: 0.2990681	total: 1.08s	remaining: 11.4s
87:	learn: 0.2971229	total: 1.09s	remaining: 11.3s
88:	learn: 0.2964770	total: 1.11s	remaining: 11.3s
89:	learn: 0.2940145	total: 1.12s	remaining: 11.3s
90:	learn: 0.2933011	total: 1.14s	remaining: 11.4s
91:	learn: 0.2918570	total: 1.15s	remaining: 11.4s
92:	learn: 0.2913015	total: 1.16s	remaining: 11.3s
93:	learn: 0.2908731	total: 1.18s	remaining: 11.3s
94:	learn: 0.2899395	total: 1.19s	remaining: 11.3s
95:	learn: 0.2893902	total: 1.2s	remaining: 11.3s
96:	learn: 0.2883439	total: 1.21s	remaining: 11.2s
97:	learn: 0.2873532	total: 1.22s	remaining: 11.2s
98:	learn: 0.2862135	total: 1.23s	remaining: 11.2s
99:	learn: 0.2858086	total: 1.24s	remaining: 11.2s
100:	learn: 0.2853604	total: 1.26s	remaining: 11.2s
101:	learn: 0.2846679	total: 1.27s	remaining: 11.2s
102:	learn: 0.2835951	total: 1.28s	remaining: 11.2s
103:	learn: 0.2827916	total: 1.29s	remaining: 11.1s
104:	learn: 0.2814007	total: 1.31s	remaining: 11.1s
105:	learn: 0.2807274	total: 1.32s	remaining: 11.1s
106:	learn: 0.2803172	total: 1.33s	remaining: 11.1s
107:	learn: 0.2798368	total: 1.34s	remaining: 11.1s
108:	learn: 0.2795298	total: 1.36s	remaining: 11.2s
109:	learn: 0.2790399	total: 1.38s	remaining: 11.2s
110:	learn: 0.2777168	total: 1.4s	remaining: 11.2s
111:	learn: 0.2770876	total: 1.42s	remaining: 11.2s
112:	learn: 0.2760422	total: 1.43s	remaining: 11.2s
113:	learn: 0.2753801	total: 1.44s	remaining: 11.2s
114:	learn: 0.2744137	total: 1.45s	remaining: 11.2s
115:	learn: 0.2736922	total: 1.46s	remaining: 11.2s
116:	learn: 0.2732658	total: 1.47s	remaining: 11.1s
117:	learn: 0.2725399	total: 1.49s	remaining: 11.1s
118:	learn: 0.2721105	total: 1.5s	remaining: 11.1s
119:	learn: 0.2714286	total: 1.51s	remaining: 11.1s
120:	learn: 0.2708041	total: 1.52s	remaining: 11s
121:	learn: 0.2705706	total: 1.53s	remaining: 11s
122:	learn: 0.2701369	total: 1.54s	remaining: 11s
123:	learn: 0.2694905	total: 1.55s	remaining: 11s
124:	learn: 0.2691991	total: 1.57s	remaining: 11s
125:	learn: 0.2686904	total: 1.58s	remaining: 11s
126:	learn: 0.2684022	total: 1.59s	remaining: 11s
127:	learn: 0.2680243	total: 1.61s	remaining: 11s
128:	learn: 0.2675155	total: 1.63s	remaining: 11s
129:	learn: 0.2659908	total: 1.64s	remaining: 11s
130:	learn: 0.2650612	total: 1.65s	remaining: 10.9s
131:	learn: 0.2648496	total: 1.66s	remaining: 10.9s
132:	learn: 0.2644123	total: 1.67s	remaining: 10.9s
133:	learn: 0.2641018	total: 1.69s	remaining: 10.9s
134:	learn: 0.2635355	total: 1.71s	remaining: 10.9s
135:	learn: 0.2630724	total: 1.72s	remaining: 10.9s
136:	learn: 0.2627515	total: 1.73s	remaining: 10.9s
137:	learn: 0.2620960	total: 1.74s	remaining: 10.9s
138:	learn: 0.2617938	total: 1.76s	remaining: 10.9s
139:	learn: 0.2614311	total: 1.77s	remaining: 10.9s
140:	learn: 0.2611142	total: 1.78s	remaining: 10.8s
141:	learn: 0.2607778	total: 1.79s	remaining: 10.8s
142:	learn: 0.2604905	total: 1.81s	remaining: 10.8s
143:	learn: 0.2591657	total: 1.82s	remaining: 10.8s
144:	learn: 0.2576733	total: 1.83s	remaining: 10.8s
145:	learn: 0.2569616	total: 1.84s	remaining: 10.8s
146:	learn: 0.2561585	total: 1.85s	remaining: 10.8s
147:	learn: 0.2559295	total: 1.87s	remaining: 10.8s
148:	learn: 0.2550961	total: 1.89s	remaining: 10.8s
149:	learn: 0.2545071	total: 1.9s	remaining: 10.8s
150:	learn: 0.2541530	total: 1.91s	remaining: 10.7s
151:	learn: 0.2539245	total: 1.92s	remaining: 10.7s
152:	learn: 0.2528624	total: 1.94s	remaining: 10.7s
153:	learn: 0.2525522	total: 1.95s	remaining: 10.7s
154:	learn: 0.2521963	total: 1.96s	remaining: 10.7s
155:	learn: 0.2519172	total: 1.97s	remaining: 10.7s
156:	learn: 0.2513593	total: 1.98s	remaining: 10.7s
157:	learn: 0.2504329	total: 2s	remaining: 10.6s
158:	learn: 0.2501743	total: 2.01s	remaining: 10.6s
159:	learn: 0.2499500	total: 2.02s	remaining: 10.6s
160:	learn: 0.2493641	total: 2.04s	remaining: 10.6s
161:	learn: 0.2490020	total: 2.05s	remaining: 10.6s
162:	learn: 0.2487087	total: 2.06s	remaining: 10.6s
163:	learn: 0.2482761	total: 2.08s	remaining: 10.6s
164:	learn: 0.2477717	total: 2.09s	remaining: 10.6s
165:	learn: 0.2474006	total: 2.1s	remaining: 10.6s
166:	learn: 0.2471422	total: 2.11s	remaining: 10.5s
167:	learn: 0.2466688	total: 2.12s	remaining: 10.5s
168:	learn: 0.2465447	total: 2.13s	remaining: 10.5s
169:	learn: 0.2461571	total: 2.15s	remaining: 10.5s

170:	learn: 0.2459815	total: 2.16s	remaining: 10.5s
171:	learn: 0.2456975	total: 2.17s	remaining: 10.4s
172:	learn: 0.2452300	total: 2.19s	remaining: 10.5s
173:	learn: 0.2450160	total: 2.2s	remaining: 10.4s
174:	learn: 0.2442902	total: 2.21s	remaining: 10.4s
175:	learn: 0.2439558	total: 2.23s	remaining: 10.4s
176:	learn: 0.2429665	total: 2.24s	remaining: 10.4s
177:	learn: 0.2428354	total: 2.25s	remaining: 10.4s
178:	learn: 0.2424347	total: 2.26s	remaining: 10.4s
179:	learn: 0.2420705	total: 2.27s	remaining: 10.4s
180:	learn: 0.2416528	total: 2.29s	remaining: 10.3s
181:	learn: 0.2414879	total: 2.3s	remaining: 10.3s
182:	learn: 0.2412029	total: 2.31s	remaining: 10.3s
183:	learn: 0.2410139	total: 2.32s	remaining: 10.3s
184:	learn: 0.2407003	total: 2.34s	remaining: 10.3s
185:	learn: 0.2397185	total: 2.35s	remaining: 10.3s
186:	learn: 0.2395758	total: 2.36s	remaining: 10.3s
187:	learn: 0.2392165	total: 2.38s	remaining: 10.3s
188:	learn: 0.2389331	total: 2.39s	remaining: 10.3s
189:	learn: 0.2384754	total: 2.4s	remaining: 10.2s
190:	learn: 0.2382204	total: 2.43s	remaining: 10.3s
191:	learn: 0.2379737	total: 2.44s	remaining: 10.3s
192:	learn: 0.2378071	total: 2.45s	remaining: 10.3s
193:	learn: 0.2375029	total: 2.46s	remaining: 10.2s
194:	learn: 0.2373427	total: 2.48s	remaining: 10.2s
195:	learn: 0.2369732	total: 2.49s	remaining: 10.2s
196:	learn: 0.2367220	total: 2.5s	remaining: 10.2s
197:	learn: 0.2365743	total: 2.51s	remaining: 10.2s
198:	learn: 0.2361142	total: 2.52s	remaining: 10.1s
199:	learn: 0.2358901	total: 2.53s	remaining: 10.1s
200:	learn: 0.2357097	total: 2.54s	remaining: 10.1s
201:	learn: 0.2355265	total: 2.56s	remaining: 10.1s
202:	learn: 0.2353254	total: 2.57s	remaining: 10.1s
203:	learn: 0.2351677	total: 2.58s	remaining: 10.1s
204:	learn: 0.2345733	total: 2.6s	remaining: 10.1s
205:	learn: 0.2340551	total: 2.61s	remaining: 10.1s
206:	learn: 0.2333317	total: 2.62s	remaining: 10s
207:	learn: 0.2331947	total: 2.64s	remaining: 10s
208:	learn: 0.2328826	total: 2.65s	remaining: 10s
209:	learn: 0.2326538	total: 2.66s	remaining: 10s
210:	learn: 0.2325020	total: 2.67s	remaining: 10s
211:	learn: 0.2323798	total: 2.69s	remaining: 9.98s
212:	learn: 0.2321667	total: 2.7s	remaining: 9.97s
213:	learn: 0.2319067	total: 2.76s	remaining: 10.1s
214:	learn: 0.2316439	total: 2.78s	remaining: 10.1s
215:	learn: 0.2314689	total: 2.81s	remaining: 10.2s
216:	learn: 0.2311524	total: 2.82s	remaining: 10.2s
217:	learn: 0.2308114	total: 2.83s	remaining: 10.2s
218:	learn: 0.2303786	total: 2.86s	remaining: 10.2s
219:	learn: 0.2300660	total: 2.87s	remaining: 10.2s
220:	learn: 0.2297967	total: 2.88s	remaining: 10.2s
221:	learn: 0.2294757	total: 2.91s	remaining: 10.2s
222:	learn: 0.2292518	total: 2.93s	remaining: 10.2s
223:	learn: 0.2289067	total: 2.95s	remaining: 10.2s
224:	learn: 0.2287995	total: 2.97s	remaining: 10.2s
225:	learn: 0.2285985	total: 2.98s	remaining: 10.2s
226:	learn: 0.2284042	total: 2.99s	remaining: 10.2s
227:	learn: 0.2282047	total: 3.01s	remaining: 10.2s
228:	learn: 0.2280786	total: 3.02s	remaining: 10.2s
229:	learn: 0.2276154	total: 3.03s	remaining: 10.1s
230:	learn: 0.2274295	total: 3.04s	remaining: 10.1s
231:	learn: 0.2269416	total: 3.06s	remaining: 10.1s
232:	learn: 0.2267777	total: 3.07s	remaining: 10.1s
233:	learn: 0.2266892	total: 3.09s	remaining: 10.1s
234:	learn: 0.2264554	total: 3.1s	remaining: 10.1s
235:	learn: 0.2263053	total: 3.11s	remaining: 10.1s
236:	learn: 0.2259633	total: 3.12s	remaining: 10.1s
237:	learn: 0.2253667	total: 3.14s	remaining: 10s
238:	learn: 0.2251913	total: 3.15s	remaining: 10s
239:	learn: 0.2249931	total: 3.16s	remaining: 10s
240:	learn: 0.2247232	total: 3.17s	remaining: 10s
241:	learn: 0.2245956	total: 3.19s	remaining: 9.99s
242:	learn: 0.2244329	total: 3.2s	remaining: 9.97s
243:	learn: 0.2241812	total: 3.21s	remaining: 9.95s
244:	learn: 0.2239919	total: 3.23s	remaining: 9.94s
245:	learn: 0.2238517	total: 3.24s	remaining: 9.92s
246:	learn: 0.2235542	total: 3.25s	remaining: 9.9s
247:	learn: 0.2233906	total: 3.26s	remaining: 9.88s
248:	learn: 0.2231176	total: 3.27s	remaining: 9.86s
249:	learn: 0.2229375	total: 3.28s	remaining: 9.84s
250:	learn: 0.2227545	total: 3.29s	remaining: 9.82s
251:	learn: 0.2225119	total: 3.3s	remaining: 9.81s
252:	learn: 0.2224209	total: 3.31s	remaining: 9.79s
253:	learn: 0.2222159	total: 3.33s	remaining: 9.78s
254:	learn: 0.2218945	total: 3.34s	remaining: 9.76s
255:	learn: 0.2215663	total: 3.35s	remaining: 9.74s
256:	learn: 0.2213974	total: 3.37s	remaining: 9.74s
257:	learn: 0.2212539	total: 3.38s	remaining: 9.72s
258:	learn: 0.2210595	total: 3.39s	remaining: 9.71s
259:	learn: 0.2209394	total: 3.4s	remaining: 9.69s
260:	learn: 0.2207979	total: 3.41s	remaining: 9.67s
261:	learn: 0.2204011	total: 3.43s	remaining: 9.65s
262:	learn: 0.2202599	total: 3.44s	remaining: 9.63s
263:	learn: 0.2200410	total: 3.45s	remaining: 9.61s
264:	learn: 0.2198515	total: 3.46s	remaining: 9.6s
265:	learn: 0.2196940	total: 3.47s	remaining: 9.58s
266:	learn: 0.2195800	total: 3.48s	remaining: 9.56s
267:	learn: 0.2194408	total: 3.5s	remaining: 9.56s
268:	learn: 0.2191784	total: 3.51s	remaining: 9.55s
269:	learn: 0.2188347	total: 3.52s	remaining: 9.53s
270:	learn: 0.2186185	total: 3.54s	remaining: 9.54s
271:	learn: 0.2183603	total: 3.56s	remaining: 9.52s
272:	learn: 0.2182249	total: 3.57s	remaining: 9.5s
273:	learn: 0.2180484	total: 3.58s	remaining: 9.49s
274:	learn: 0.2178718	total: 3.6s	remaining: 9.48s
275:	learn: 0.2176772	total: 3.61s	remaining: 9.47s
276:	learn: 0.2173549	total: 3.62s	remaining: 9.46s
277:	learn: 0.2172700	total: 3.63s	remaining: 9.44s
278:	learn: 0.2170927	total: 3.65s	remaining: 9.43s
279:	learn: 0.2169680	total: 3.66s	remaining: 9.42s
280:	learn: 0.2165751	total: 3.68s	remaining: 9.41s
281:	learn: 0.2164228	total: 3.69s	remaining: 9.39s
282:	learn: 0.2162811	total: 3.7s	remaining: 9.37s
283:	learn: 0.2159280	total: 3.71s	remaining: 9.36s
284:	learn: 0.2156787	total: 3.73s	remaining: 9.35s
285:	learn: 0.2155377	total: 3.74s	remaining: 9.33s
286:	learn: 0.2152918	total: 3.75s	remaining: 9.32s
287:	learn: 0.2151479	total: 3.76s	remaining: 9.3s
288:	learn: 0.2150291	total: 3.77s	remaining: 9.28s
289:	learn: 0.2146332	total: 3.79s	remaining: 9.28s
290:	learn: 0.2139996	total: 3.8s	remaining: 9.26s
291:	learn: 0.2138664	total: 3.81s	remaining: 9.24s
292:	learn: 0.2137582	total: 3.83s	remaining: 9.23s
293:	learn: 0.2135405	total: 3.84s	remaining: 9.21s
294:	learn: 0.2131788	total: 3.85s	remaining: 9.2s
295:	learn: 0.2129724	total: 3.87s	remaining: 9.21s
296:	learn: 0.2127411	total: 3.88s	remaining: 9.19s
297:	learn: 0.2123397	total: 3.89s	remaining: 9.17s
298:	learn: 0.2122423	total: 3.92s	remaining: 9.18s
299:	learn: 0.2117932	total: 3.93s	remaining: 9.17s
300:	learn: 0.2116206	total: 3.94s	remaining: 9.16s
301:	learn: 0.2109139	total: 3.96s	remaining: 9.14s
302:	learn: 0.2107831	total: 3.97s	remaining: 9.12s
303:	learn: 0.2106035	total: 3.98s	remaining: 9.1s
304:	learn: 0.2104706	total: 3.99s	remaining: 9.09s
305:	learn: 0.2102709	total: 4.01s	remaining: 9.09s
306:	learn: 0.2099692	total: 4.02s	remaining: 9.07s
307:	learn: 0.2095787	total: 4.03s	remaining: 9.05s
308:	learn: 0.2092745	total: 4.04s	remaining: 9.04s
309:	learn: 0.2091153	total: 4.05s	remaining: 9.02s
310:	learn: 0.2089244	total: 4.07s	remaining: 9.01s
311:	learn: 0.2087502	total: 4.08s	remaining: 8.99s
312:	learn: 0.2085119	total: 4.1s	remaining: 8.99s
313:	learn: 0.2081692	total: 4.11s	remaining: 8.97s
314:	learn: 0.2080097	total: 4.12s	remaining: 8.96s
315:	learn: 0.2077369	total: 4.14s	remaining: 8.96s
316:	learn: 0.2076151	total: 4.15s	remaining: 8.94s
317:	learn: 0.2075404	total: 4.16s	remaining: 8.93s
318:	learn: 0.2072750	total: 4.17s	remaining: 8.91s
319:	learn: 0.2071148	total: 4.18s	remaining: 8.89s
320:	learn: 0.2069344	total: 4.2s	remaining: 8.88s
321:	learn: 0.2068219	total: 4.21s	remaining: 8.86s
322:	learn: 0.2066871	total: 4.22s	remaining: 8.85s
323:	learn: 0.2064908	total: 4.23s	remaining: 8.83s
324:	learn: 0.2061544	total: 4.24s	remaining: 8.81s
325:	learn: 0.2059870	total: 4.25s	remaining: 8.79s
326:	learn: 0.2057739	total: 4.27s	remaining: 8.79s
327:	learn: 0.2056252	total: 4.28s	remaining: 8.78s
328:	learn: 0.2054259	total: 4.29s	remaining: 8.76s
329:	learn: 0.2053318	total: 4.31s	remaining: 8.74s
330:	learn: 0.2048186	total: 4.32s	remaining: 8.73s
331:	learn: 0.2046119	total: 4.33s	remaining: 8.72s
332:	learn: 0.2045279	total: 4.34s	remaining: 8.7s
333:	learn: 0.2044116	total: 4.36s	remaining: 8.69s

334:	learn: 0.2043547	total: 4.37s	remaining: 8.67s
335:	learn: 0.2041423	total: 4.38s	remaining: 8.66s
336:	learn: 0.2040113	total: 4.39s	remaining: 8.64s
337:	learn: 0.2037913	total: 4.4s	remaining: 8.62s
338:	learn: 0.2035708	total: 4.41s	remaining: 8.6s
339:	learn: 0.2034565	total: 4.42s	remaining: 8.59s
340:	learn: 0.2031848	total: 4.44s	remaining: 8.57s
341:	learn: 0.2028585	total: 4.45s	remaining: 8.56s
342:	learn: 0.2026551	total: 4.46s	remaining: 8.54s
343:	learn: 0.2025626	total: 4.47s	remaining: 8.53s
344:	learn: 0.2022822	total: 4.49s	remaining: 8.52s
345:	learn: 0.2021564	total: 4.5s	remaining: 8.5s
346:	learn: 0.2017959	total: 4.51s	remaining: 8.49s
347:	learn: 0.2012904	total: 4.52s	remaining: 8.47s
348:	learn: 0.2011040	total: 4.53s	remaining: 8.45s
349:	learn: 0.2009914	total: 4.54s	remaining: 8.44s
350:	learn: 0.2008766	total: 4.55s	remaining: 8.42s
351:	learn: 0.2007093	total: 4.57s	remaining: 8.41s
352:	learn: 0.2005635	total: 4.58s	remaining: 8.4s
353:	learn: 0.2004607	total: 4.59s	remaining: 8.38s
354:	learn: 0.2003640	total: 4.61s	remaining: 8.38s
355:	learn: 0.1999066	total: 4.62s	remaining: 8.36s
356:	learn: 0.1997464	total: 4.63s	remaining: 8.34s
357:	learn: 0.1995475	total: 4.64s	remaining: 8.33s
358:	learn: 0.1992197	total: 4.65s	remaining: 8.31s
359:	learn: 0.1990575	total: 4.66s	remaining: 8.29s
360:	learn: 0.1989028	total: 4.68s	remaining: 8.28s
361:	learn: 0.1987510	total: 4.69s	remaining: 8.26s
362:	learn: 0.1986650	total: 4.7s	remaining: 8.25s
363:	learn: 0.1985204	total: 4.71s	remaining: 8.23s
364:	learn: 0.1983955	total: 4.72s	remaining: 8.21s
365:	learn: 0.1981126	total: 4.73s	remaining: 8.2s
366:	learn: 0.1979756	total: 4.75s	remaining: 8.19s
367:	learn: 0.1978567	total: 4.76s	remaining: 8.18s
368:	learn: 0.1977637	total: 4.77s	remaining: 8.16s
369:	learn: 0.1975956	total: 4.79s	remaining: 8.15s
370:	learn: 0.1974890	total: 4.8s	remaining: 8.13s
371:	learn: 0.1974103	total: 4.81s	remaining: 8.12s
372:	learn: 0.1972155	total: 4.82s	remaining: 8.1s
373:	learn: 0.1971082	total: 4.83s	remaining: 8.09s
374:	learn: 0.1969746	total: 4.85s	remaining: 8.08s
375:	learn: 0.1968158	total: 4.86s	remaining: 8.06s
376:	learn: 0.1966105	total: 4.87s	remaining: 8.05s
377:	learn: 0.1962871	total: 4.9s	remaining: 8.06s
378:	learn: 0.1959936	total: 4.91s	remaining: 8.05s
379:	learn: 0.1958035	total: 4.92s	remaining: 8.03s
380:	learn: 0.1956110	total: 4.93s	remaining: 8.02s
381:	learn: 0.1953637	total: 4.95s	remaining: 8s
382:	learn: 0.1952830	total: 4.96s	remaining: 7.99s
383:	learn: 0.1950127	total: 4.98s	remaining: 7.98s
384:	learn: 0.1949132	total: 4.99s	remaining: 7.97s
385:	learn: 0.1947493	total: 5s	remaining: 7.95s
386:	learn: 0.1945597	total: 5.01s	remaining: 7.94s
387:	learn: 0.1942922	total: 5.02s	remaining: 7.92s
388:	learn: 0.1941626	total: 5.03s	remaining: 7.91s
389:	learn: 0.1937882	total: 5.05s	remaining: 7.89s
390:	learn: 0.1935004	total: 5.06s	remaining: 7.88s
391:	learn: 0.1932967	total: 5.07s	remaining: 7.86s
392:	learn: 0.1931491	total: 5.09s	remaining: 7.86s
393:	learn: 0.1929878	total: 5.1s	remaining: 7.84s
394:	learn: 0.1927813	total: 5.11s	remaining: 7.83s
395:	learn: 0.1924701	total: 5.12s	remaining: 7.82s
396:	learn: 0.1922802	total: 5.13s	remaining: 7.8s
397:	learn: 0.1921519	total: 5.15s	remaining: 7.78s
398:	learn: 0.1919371	total: 5.16s	remaining: 7.77s
399:	learn: 0.1918465	total: 5.17s	remaining: 7.75s
400:	learn: 0.1917195	total: 5.18s	remaining: 7.74s
401:	learn: 0.1915920	total: 5.19s	remaining: 7.72s
402:	learn: 0.1915062	total: 5.2s	remaining: 7.71s
403:	learn: 0.1913602	total: 5.21s	remaining: 7.69s
404:	learn: 0.1911734	total: 5.22s	remaining: 7.68s
405:	learn: 0.1910004	total: 5.24s	remaining: 7.67s
406:	learn: 0.1908196	total: 5.25s	remaining: 7.66s
407:	learn: 0.1906528	total: 5.27s	remaining: 7.64s
408:	learn: 0.1905078	total: 5.28s	remaining: 7.63s
409:	learn: 0.1903018	total: 5.29s	remaining: 7.61s
410:	learn: 0.1900829	total: 5.3s	remaining: 7.59s
411:	learn: 0.1899260	total: 5.31s	remaining: 7.58s
412:	learn: 0.1897679	total: 5.32s	remaining: 7.56s
413:	learn: 0.1897033	total: 5.33s	remaining: 7.55s
414:	learn: 0.1895594	total: 5.35s	remaining: 7.54s
415:	learn: 0.1894427	total: 5.36s	remaining: 7.53s
416:	learn: 0.1893436	total: 5.37s	remaining: 7.51s
417:	learn: 0.1892096	total: 5.39s	remaining: 7.5s
418:	learn: 0.1891131	total: 5.4s	remaining: 7.48s
419:	learn: 0.1889734	total: 5.41s	remaining: 7.47s
420:	learn: 0.1887814	total: 5.42s	remaining: 7.46s
421:	learn: 0.1886378	total: 5.43s	remaining: 7.44s
422:	learn: 0.1884450	total: 5.44s	remaining: 7.43s
423:	learn: 0.1883429	total: 5.46s	remaining: 7.41s
424:	learn: 0.1882243	total: 5.47s	remaining: 7.4s
425:	learn: 0.1880632	total: 5.48s	remaining: 7.38s
426:	learn: 0.1879627	total: 5.49s	remaining: 7.37s
427:	learn: 0.1877999	total: 5.5s	remaining: 7.36s
428:	learn: 0.1875976	total: 5.51s	remaining: 7.34s
429:	learn: 0.1875132	total: 5.53s	remaining: 7.32s
430:	learn: 0.1873988	total: 5.54s	remaining: 7.31s
431:	learn: 0.1872882	total: 5.55s	remaining: 7.3s
432:	learn: 0.1870744	total: 5.56s	remaining: 7.28s
433:	learn: 0.1869392	total: 5.57s	remaining: 7.27s
434:	learn: 0.1868336	total: 5.58s	remaining: 7.25s
435:	learn: 0.1866731	total: 5.6s	remaining: 7.24s
436:	learn: 0.1865871	total: 5.62s	remaining: 7.24s
437:	learn: 0.1864575	total: 5.64s	remaining: 7.24s
438:	learn: 0.1863126	total: 5.65s	remaining: 7.22s
439:	learn: 0.1862313	total: 5.66s	remaining: 7.21s
440:	learn: 0.1860838	total: 5.68s	remaining: 7.2s
441:	learn: 0.1859592	total: 5.69s	remaining: 7.18s
442:	learn: 0.1857754	total: 5.7s	remaining: 7.17s
443:	learn: 0.1856058	total: 5.71s	remaining: 7.15s
444:	learn: 0.1854817	total: 5.72s	remaining: 7.13s
445:	learn: 0.1853939	total: 5.73s	remaining: 7.12s
446:	learn: 0.1852480	total: 5.74s	remaining: 7.11s
447:	learn: 0.1850975	total: 5.75s	remaining: 7.09s
448:	learn: 0.1848603	total: 5.76s	remaining: 7.08s
449:	learn: 0.1847233	total: 5.78s	remaining: 7.06s
450:	learn: 0.1843391	total: 5.79s	remaining: 7.04s
451:	learn: 0.1842052	total: 5.8s	remaining: 7.03s
452:	learn: 0.1840709	total: 5.81s	remaining: 7.01s
453:	learn: 0.1839937	total: 5.82s	remaining: 7s
454:	learn: 0.1838795	total: 5.83s	remaining: 6.99s
455:	learn: 0.1837304	total: 5.84s	remaining: 6.97s
456:	learn: 0.1836436	total: 5.85s	remaining: 6.96s
457:	learn: 0.1835621	total: 5.87s	remaining: 6.94s
458:	learn: 0.1834429	total: 5.88s	remaining: 6.93s
459:	learn: 0.1833301	total: 5.89s	remaining: 6.91s
460:	learn: 0.1832050	total: 5.9s	remaining: 6.9s
461:	learn: 0.1831136	total: 5.91s	remaining: 6.88s
462:	learn: 0.1829795	total: 5.92s	remaining: 6.87s
463:	learn: 0.1828415	total: 5.93s	remaining: 6.85s
464:	learn: 0.1827557	total: 5.94s	remaining: 6.84s
465:	learn: 0.1826164	total: 5.96s	remaining: 6.83s
466:	learn: 0.1825473	total: 5.97s	remaining: 6.82s
467:	learn: 0.1824382	total: 5.98s	remaining: 6.8s
468:	learn: 0.1822922	total: 5.99s	remaining: 6.78s
469:	learn: 0.1821597	total: 6s	remaining: 6.77s
470:	learn: 0.1821047	total: 6.01s	remaining: 6.75s
471:	learn: 0.1819898	total: 6.03s	remaining: 6.74s
472:	learn: 0.1818794	total: 6.04s	remaining: 6.73s
473:	learn: 0.1817984	total: 6.05s	remaining: 6.72s
474:	learn: 0.1816876	total: 6.06s	remaining: 6.7s
475:	learn: 0.1815684	total: 6.07s	remaining: 6.69s
476:	learn: 0.1814538	total: 6.08s	remaining: 6.67s
477:	learn: 0.1813839	total: 6.1s	remaining: 6.66s
478:	learn: 0.1812164	total: 6.11s	remaining: 6.64s
479:	learn: 0.1811166	total: 6.12s	remaining: 6.63s
480:	learn: 0.1810291	total: 6.13s	remaining: 6.61s
481:	learn: 0.1809468	total: 6.14s	remaining: 6.6s
482:	learn: 0.1807924	total: 6.15s	remaining: 6.59s
483:	learn: 0.1806837	total: 6.17s	remaining: 6.58s
484:	learn: 0.1805575	total: 6.18s	remaining: 6.56s
485:	learn: 0.1804029	total: 6.19s	remaining: 6.55s
486:	learn: 0.1802907	total: 6.21s	remaining: 6.54s
487:	learn: 0.1801948	total: 6.21s	remaining: 6.52s
488:	learn: 0.1800522	total: 6.23s	remaining: 6.51s
489:	learn: 0.1798357	total: 6.24s	remaining: 6.5s
490:	learn: 0.1796981	total: 6.25s	remaining: 6.48s
491:	learn: 0.1795966	total: 6.26s	remaining: 6.47s
492:	learn: 0.1794523	total: 6.28s	remaining: 6.46s
493:	learn: 0.1793267	total: 6.29s	remaining: 6.44s
494:	learn: 0.1792170	total: 6.3s	remaining: 6.43s

495:	learn: 0.1791468	total: 6.32s	remaining: 6.42s
496:	learn: 0.1790204	total: 6.33s	remaining: 6.4s
497:	learn: 0.1787124	total: 6.34s	remaining: 6.39s
498:	learn: 0.1785335	total: 6.35s	remaining: 6.38s
499:	learn: 0.1783930	total: 6.36s	remaining: 6.36s
500:	learn: 0.1782735	total: 6.37s	remaining: 6.35s
501:	learn: 0.1781882	total: 6.38s	remaining: 6.33s
502:	learn: 0.1780916	total: 6.4s	remaining: 6.32s
503:	learn: 0.1780172	total: 6.41s	remaining: 6.31s
504:	learn: 0.1778967	total: 6.42s	remaining: 6.29s
505:	learn: 0.1777904	total: 6.43s	remaining: 6.28s
506:	learn: 0.1776174	total: 6.46s	remaining: 6.28s
507:	learn: 0.1775242	total: 6.47s	remaining: 6.27s
508:	learn: 0.1773892	total: 6.49s	remaining: 6.26s
509:	learn: 0.1773037	total: 6.52s	remaining: 6.26s
510:	learn: 0.1771926	total: 6.53s	remaining: 6.25s
511:	learn: 0.1770507	total: 6.54s	remaining: 6.24s
512:	learn: 0.1769094	total: 6.55s	remaining: 6.22s
513:	learn: 0.1767872	total: 6.57s	remaining: 6.21s
514:	learn: 0.1766790	total: 6.58s	remaining: 6.19s
515:	learn: 0.1766074	total: 6.59s	remaining: 6.18s
516:	learn: 0.1765355	total: 6.6s	remaining: 6.17s
517:	learn: 0.1764477	total: 6.62s	remaining: 6.16s
518:	learn: 0.1763137	total: 6.63s	remaining: 6.14s
519:	learn: 0.1762298	total: 6.64s	remaining: 6.13s
520:	learn: 0.1761364	total: 6.65s	remaining: 6.12s
521:	learn: 0.1760361	total: 6.66s	remaining: 6.1s
522:	learn: 0.1759606	total: 6.67s	remaining: 6.09s
523:	learn: 0.1759134	total: 6.69s	remaining: 6.08s
524:	learn: 0.1758285	total: 6.7s	remaining: 6.06s
525:	learn: 0.1757151	total: 6.71s	remaining: 6.05s
526:	learn: 0.1756725	total: 6.72s	remaining: 6.03s
527:	learn: 0.1755701	total: 6.73s	remaining: 6.02s
528:	learn: 0.1754641	total: 6.74s	remaining: 6s
529:	learn: 0.1753876	total: 6.76s	remaining: 6s
530:	learn: 0.1752823	total: 6.77s	remaining: 5.98s
531:	learn: 0.1751254	total: 6.78s	remaining: 5.97s
532:	learn: 0.1749428	total: 6.8s	remaining: 5.96s
533:	learn: 0.1746223	total: 6.81s	remaining: 5.94s
534:	learn: 0.1745233	total: 6.82s	remaining: 5.93s
535:	learn: 0.1744087	total: 6.85s	remaining: 5.93s
536:	learn: 0.1743242	total: 6.86s	remaining: 5.91s
537:	learn: 0.1741985	total: 6.87s	remaining: 5.9s
538:	learn: 0.1740527	total: 6.88s	remaining: 5.89s
539:	learn: 0.1739351	total: 6.9s	remaining: 5.87s
540:	learn: 0.1738106	total: 6.91s	remaining: 5.86s
541:	learn: 0.1736784	total: 6.92s	remaining: 5.85s
542:	learn: 0.1736180	total: 6.93s	remaining: 5.83s
543:	learn: 0.1735070	total: 6.94s	remaining: 5.82s
544:	learn: 0.1734368	total: 6.96s	remaining: 5.81s
545:	learn: 0.1733488	total: 6.97s	remaining: 5.79s
546:	learn: 0.1732602	total: 6.98s	remaining: 5.78s
547:	learn: 0.1731708	total: 7s	remaining: 5.77s
548:	learn: 0.1730911	total: 7.01s	remaining: 5.75s
549:	learn: 0.1729761	total: 7.02s	remaining: 5.75s
550:	learn: 0.1728731	total: 7.04s	remaining: 5.73s
551:	learn: 0.1727694	total: 7.05s	remaining: 5.72s
552:	learn: 0.1725786	total: 7.06s	remaining: 5.71s
553:	learn: 0.1724784	total: 7.07s	remaining: 5.7s
554:	learn: 0.1724102	total: 7.09s	remaining: 5.68s
555:	learn: 0.1723158	total: 7.1s	remaining: 5.67s
556:	learn: 0.1722365	total: 7.11s	remaining: 5.66s
557:	learn: 0.1721899	total: 7.13s	remaining: 5.65s
558:	learn: 0.1720774	total: 7.14s	remaining: 5.63s
559:	learn: 0.1719637	total: 7.15s	remaining: 5.62s
560:	learn: 0.1718609	total: 7.17s	remaining: 5.61s
561:	learn: 0.1717904	total: 7.18s	remaining: 5.6s
562:	learn: 0.1716982	total: 7.2s	remaining: 5.58s
563:	learn: 0.1715700	total: 7.21s	remaining: 5.57s
564:	learn: 0.1714357	total: 7.22s	remaining: 5.56s
565:	learn: 0.1713449	total: 7.23s	remaining: 5.54s
566:	learn: 0.1712856	total: 7.24s	remaining: 5.53s
567:	learn: 0.1712012	total: 7.25s	remaining: 5.52s
568:	learn: 0.1711432	total: 7.27s	remaining: 5.51s
569:	learn: 0.1710089	total: 7.28s	remaining: 5.49s
570:	learn: 0.1709074	total: 7.29s	remaining: 5.48s
571:	learn: 0.1708162	total: 7.31s	remaining: 5.47s
572:	learn: 0.1707230	total: 7.32s	remaining: 5.45s
573:	learn: 0.1706132	total: 7.33s	remaining: 5.44s
574:	learn: 0.1704557	total: 7.34s	remaining: 5.42s
575:	learn: 0.1703245	total: 7.35s	remaining: 5.41s
576:	learn: 0.1702557	total: 7.36s	remaining: 5.39s
577:	learn: 0.1701605	total: 7.37s	remaining: 5.38s
578:	learn: 0.1701026	total: 7.38s	remaining: 5.37s
579:	learn: 0.1700567	total: 7.41s	remaining: 5.36s
580:	learn: 0.1699241	total: 7.42s	remaining: 5.35s
581:	learn: 0.1698200	total: 7.46s	remaining: 5.36s
582:	learn: 0.1697399	total: 7.48s	remaining: 5.35s
583:	learn: 0.1696374	total: 7.51s	remaining: 5.35s
584:	learn: 0.1695472	total: 7.52s	remaining: 5.33s
585:	learn: 0.1694547	total: 7.53s	remaining: 5.32s
586:	learn: 0.1692976	total: 7.55s	remaining: 5.31s
587:	learn: 0.1692053	total: 7.56s	remaining: 5.3s
588:	learn: 0.1691593	total: 7.57s	remaining: 5.28s
589:	learn: 0.1690355	total: 7.59s	remaining: 5.27s
590:	learn: 0.1689668	total: 7.6s	remaining: 5.26s
591:	learn: 0.1688846	total: 7.61s	remaining: 5.25s
592:	learn: 0.1688242	total: 7.62s	remaining: 5.23s
593:	learn: 0.1687105	total: 7.64s	remaining: 5.22s
594:	learn: 0.1686179	total: 7.65s	remaining: 5.21s
595:	learn: 0.1684991	total: 7.66s	remaining: 5.19s
596:	learn: 0.1684292	total: 7.68s	remaining: 5.18s
597:	learn: 0.1683521	total: 7.69s	remaining: 5.17s
598:	learn: 0.1682630	total: 7.7s	remaining: 5.16s
599:	learn: 0.1681849	total: 7.72s	remaining: 5.15s
600:	learn: 0.1681082	total: 7.74s	remaining: 5.13s
601:	learn: 0.1680474	total: 7.75s	remaining: 5.12s
602:	learn: 0.1679545	total: 7.76s	remaining: 5.11s
603:	learn: 0.1678825	total: 7.77s	remaining: 5.09s
604:	learn: 0.1677300	total: 7.78s	remaining: 5.08s
605:	learn: 0.1676625	total: 7.8s	remaining: 5.07s
606:	learn: 0.1675636	total: 7.81s	remaining: 5.06s
607:	learn: 0.1674780	total: 7.82s	remaining: 5.04s
608:	learn: 0.1673820	total: 7.83s	remaining: 5.03s
609:	learn: 0.1672625	total: 7.84s	remaining: 5.01s
610:	learn: 0.1671351	total: 7.85s	remaining: 5s
611:	learn: 0.1670256	total: 7.87s	remaining: 4.99s
612:	learn: 0.1669586	total: 7.88s	remaining: 4.97s
613:	learn: 0.1668754	total: 7.89s	remaining: 4.96s
614:	learn: 0.1667980	total: 7.9s	remaining: 4.94s
615:	learn: 0.1667299	total: 7.91s	remaining: 4.93s
616:	learn: 0.1666491	total: 7.92s	remaining: 4.92s
617:	learn: 0.1665713	total: 7.94s	remaining: 4.91s
618:	learn: 0.1664716	total: 7.95s	remaining: 4.89s
619:	learn: 0.1663944	total: 7.97s	remaining: 4.88s
620:	learn: 0.1663211	total: 7.98s	remaining: 4.87s
621:	learn: 0.1662281	total: 8s	remaining: 4.86s
622:	learn: 0.1661592	total: 8.01s	remaining: 4.84s
623:	learn: 0.1660917	total: 8.02s	remaining: 4.83s
624:	learn: 0.1660085	total: 8.03s	remaining: 4.82s
625:	learn: 0.1659105	total: 8.04s	remaining: 4.8s
626:	learn: 0.1657888	total: 8.05s	remaining: 4.79s
627:	learn: 0.1657255	total: 8.06s	remaining: 4.78s
628:	learn: 0.1656478	total: 8.07s	remaining: 4.76s
629:	learn: 0.1655319	total: 8.09s	remaining: 4.75s
630:	learn: 0.1654607	total: 8.11s	remaining: 4.74s
631:	learn: 0.1653969	total: 8.12s	remaining: 4.72s
632:	learn: 0.1653650	total: 8.13s	remaining: 4.71s
633:	learn: 0.1653019	total: 8.14s	remaining: 4.7s
634:	learn: 0.1652683	total: 8.16s	remaining: 4.69s
635:	learn: 0.1651656	total: 8.17s	remaining: 4.67s
636:	learn: 0.1650849	total: 8.18s	remaining: 4.66s
637:	learn: 0.1649841	total: 8.19s	remaining: 4.65s
638:	learn: 0.1648905	total: 8.2s	remaining: 4.63s
639:	learn: 0.1648360	total: 8.21s	remaining: 4.62s
640:	learn: 0.1647658	total: 8.22s	remaining: 4.61s
641:	learn: 0.1646706	total: 8.23s	remaining: 4.59s
642:	learn: 0.1645479	total: 8.26s	remaining: 4.58s
643:	learn: 0.1644545	total: 8.27s	remaining: 4.57s
644:	learn: 0.1643537	total: 8.28s	remaining: 4.56s
645:	learn: 0.1642816	total: 8.29s	remaining: 4.54s
646:	learn: 0.1641856	total: 8.3s	remaining: 4.53s
647:	learn: 0.1640977	total: 8.32s	remaining: 4.52s
648:	learn: 0.1640387	total: 8.33s	remaining: 4.5s
649:	learn: 0.1639570	total: 8.34s	remaining: 4.49s
650:	learn: 0.1639105	total: 8.36s	remaining: 4.48s
651:	learn: 0.1638363	total: 8.38s	remaining: 4.47s
652:	learn: 0.1637230	total: 8.39s	remaining: 4.46s
653:	learn: 0.1636401	total: 8.4s	remaining: 4.44s
654:	learn: 0.1635575	total: 8.41s	remaining: 4.43s
655:	learn: 0.1634905	total: 8.43s	remaining: 4.42s
656:	learn: 0.1634475	total: 8.44s	remaining: 4.4s
657:	learn: 0.1633697	total: 8.45s	remaining: 4.39s

658:	learn: 0.1632813	total: 8.46s	remaining: 4.38s
659:	learn: 0.1632269	total: 8.47s	remaining: 4.36s
660:	learn: 0.1631682	total: 8.48s	remaining: 4.35s
661:	learn: 0.1631390	total: 8.5s	remaining: 4.34s
662:	learn: 0.1630742	total: 8.51s	remaining: 4.33s
663:	learn: 0.1630057	total: 8.52s	remaining: 4.31s
664:	learn: 0.1629199	total: 8.53s	remaining: 4.3s
665:	learn: 0.1628428	total: 8.54s	remaining: 4.28s
666:	learn: 0.1627572	total: 8.55s	remaining: 4.27s
667:	learn: 0.1626522	total: 8.56s	remaining: 4.26s
668:	learn: 0.1625372	total: 8.58s	remaining: 4.24s
669:	learn: 0.1624839	total: 8.59s	remaining: 4.23s
670:	learn: 0.1624254	total: 8.6s	remaining: 4.22s
671:	learn: 0.1623482	total: 8.62s	remaining: 4.21s
672:	learn: 0.1622904	total: 8.63s	remaining: 4.19s
673:	learn: 0.1622419	total: 8.64s	remaining: 4.18s
674:	learn: 0.1621702	total: 8.66s	remaining: 4.17s
675:	learn: 0.1620799	total: 8.67s	remaining: 4.16s
676:	learn: 0.1619974	total: 8.68s	remaining: 4.14s
677:	learn: 0.1618934	total: 8.69s	remaining: 4.13s
678:	learn: 0.1618242	total: 8.71s	remaining: 4.12s
679:	learn: 0.1617601	total: 8.71s	remaining: 4.1s
680:	learn: 0.1616900	total: 8.73s	remaining: 4.09s
681:	learn: 0.1615953	total: 8.74s	remaining: 4.07s
682:	learn: 0.1615283	total: 8.75s	remaining: 4.06s
683:	learn: 0.1614337	total: 8.76s	remaining: 4.05s
684:	learn: 0.1613708	total: 8.77s	remaining: 4.03s
685:	learn: 0.1613116	total: 8.78s	remaining: 4.02s
686:	learn: 0.1612565	total: 8.79s	remaining: 4s
687:	learn: 0.1611750	total: 8.8s	remaining: 3.99s
688:	learn: 0.1611292	total: 8.81s	remaining: 3.98s
689:	learn: 0.1610739	total: 8.82s	remaining: 3.96s
690:	learn: 0.1609846	total: 8.84s	remaining: 3.95s
691:	learn: 0.1609261	total: 8.85s	remaining: 3.94s
692:	learn: 0.1608655	total: 8.86s	remaining: 3.92s
693:	learn: 0.1607598	total: 8.87s	remaining: 3.91s
694:	learn: 0.1607257	total: 8.88s	remaining: 3.9s
695:	learn: 0.1606091	total: 8.9s	remaining: 3.89s
696:	learn: 0.1605063	total: 8.91s	remaining: 3.87s
697:	learn: 0.1604589	total: 8.92s	remaining: 3.86s
698:	learn: 0.1603800	total: 8.94s	remaining: 3.85s
699:	learn: 0.1603006	total: 8.95s	remaining: 3.83s
700:	learn: 0.1602222	total: 8.96s	remaining: 3.82s
701:	learn: 0.1601489	total: 8.97s	remaining: 3.81s
702:	learn: 0.1600493	total: 9s	remaining: 3.8s
703:	learn: 0.1599752	total: 9.01s	remaining: 3.79s
704:	learn: 0.1598876	total: 9.02s	remaining: 3.77s
705:	learn: 0.1598301	total: 9.03s	remaining: 3.76s
706:	learn: 0.1597979	total: 9.04s	remaining: 3.75s
707:	learn: 0.1597180	total: 9.06s	remaining: 3.73s
708:	learn: 0.1596308	total: 9.07s	remaining: 3.72s
709:	learn: 0.1595474	total: 9.08s	remaining: 3.71s
710:	learn: 0.1594219	total: 9.09s	remaining: 3.69s
711:	learn: 0.1593625	total: 9.1s	remaining: 3.68s
712:	learn: 0.1592759	total: 9.11s	remaining: 3.67s
713:	learn: 0.1592220	total: 9.12s	remaining: 3.65s
714:	learn: 0.1591789	total: 9.13s	remaining: 3.64s
715:	learn: 0.1590890	total: 9.15s	remaining: 3.63s
716:	learn: 0.1590368	total: 9.16s	remaining: 3.61s
717:	learn: 0.1589405	total: 9.17s	remaining: 3.6s
718:	learn: 0.1588634	total: 9.18s	remaining: 3.59s
719:	learn: 0.1588323	total: 9.19s	remaining: 3.58s
720:	learn: 0.1587598	total: 9.21s	remaining: 3.56s
721:	learn: 0.1587047	total: 9.22s	remaining: 3.55s
722:	learn: 0.1586483	total: 9.23s	remaining: 3.54s
723:	learn: 0.1585993	total: 9.24s	remaining: 3.52s
724:	learn: 0.1585261	total: 9.25s	remaining: 3.51s
725:	learn: 0.1584390	total: 9.27s	remaining: 3.5s
726:	learn: 0.1583759	total: 9.28s	remaining: 3.48s
727:	learn: 0.1582792	total: 9.29s	remaining: 3.47s
728:	learn: 0.1581989	total: 9.3s	remaining: 3.46s
729:	learn: 0.1581375	total: 9.31s	remaining: 3.44s
730:	learn: 0.1580118	total: 9.32s	remaining: 3.43s
731:	learn: 0.1579315	total: 9.33s	remaining: 3.42s
732:	learn: 0.1578264	total: 9.35s	remaining: 3.4s
733:	learn: 0.1577522	total: 9.36s	remaining: 3.39s
734:	learn: 0.1576801	total: 9.38s	remaining: 3.38s
735:	learn: 0.1575927	total: 9.39s	remaining: 3.37s
736:	learn: 0.1575521	total: 9.4s	remaining: 3.35s
737:	learn: 0.1574912	total: 9.41s	remaining: 3.34s
738:	learn: 0.1574547	total: 9.43s	remaining: 3.33s
739:	learn: 0.1573884	total: 9.44s	remaining: 3.31s
740:	learn: 0.1572760	total: 9.45s	remaining: 3.3s
741:	learn: 0.1572051	total: 9.46s	remaining: 3.29s
742:	learn: 0.1571518	total: 9.47s	remaining: 3.27s
743:	learn: 0.1570997	total: 9.48s	remaining: 3.26s
744:	learn: 0.1570070	total: 9.49s	remaining: 3.25s
745:	learn: 0.1569512	total: 9.5s	remaining: 3.24s
746:	learn: 0.1568519	total: 9.52s	remaining: 3.22s
747:	learn: 0.1567087	total: 9.54s	remaining: 3.21s
748:	learn: 0.1566108	total: 9.55s	remaining: 3.2s
749:	learn: 0.1565301	total: 9.56s	remaining: 3.19s
750:	learn: 0.1564916	total: 9.58s	remaining: 3.17s
751:	learn: 0.1564295	total: 9.59s	remaining: 3.16s
752:	learn: 0.1563701	total: 9.6s	remaining: 3.15s
753:	learn: 0.1563038	total: 9.61s	remaining: 3.13s
754:	learn: 0.1562565	total: 9.62s	remaining: 3.12s
755:	learn: 0.1562030	total: 9.63s	remaining: 3.11s
756:	learn: 0.1561194	total: 9.65s	remaining: 3.1s
757:	learn: 0.1560246	total: 9.66s	remaining: 3.08s
758:	learn: 0.1559283	total: 9.67s	remaining: 3.07s
759:	learn: 0.1558765	total: 9.69s	remaining: 3.06s
760:	learn: 0.1558109	total: 9.7s	remaining: 3.04s
761:	learn: 0.1557392	total: 9.71s	remaining: 3.03s
762:	learn: 0.1556538	total: 9.72s	remaining: 3.02s
763:	learn: 0.1556106	total: 9.73s	remaining: 3.01s
764:	learn: 0.1555299	total: 9.75s	remaining: 2.99s
765:	learn: 0.1554698	total: 9.76s	remaining: 2.98s
766:	learn: 0.1554179	total: 9.77s	remaining: 2.97s
767:	learn: 0.1553593	total: 9.79s	remaining: 2.96s
768:	learn: 0.1553034	total: 9.8s	remaining: 2.94s
769:	learn: 0.1552495	total: 9.81s	remaining: 2.93s
770:	learn: 0.1551685	total: 9.82s	remaining: 2.92s
771:	learn: 0.1550796	total: 9.83s	remaining: 2.9s
772:	learn: 0.1549622	total: 9.85s	remaining: 2.89s
773:	learn: 0.1548795	total: 9.86s	remaining: 2.88s
774:	learn: 0.1548228	total: 9.88s	remaining: 2.87s
775:	learn: 0.1547586	total: 9.89s	remaining: 2.85s
776:	learn: 0.1546708	total: 9.9s	remaining: 2.84s
777:	learn: 0.1546073	total: 9.91s	remaining: 2.83s
778:	learn: 0.1545680	total: 9.92s	remaining: 2.81s
779:	learn: 0.1545004	total: 9.94s	remaining: 2.8s
780:	learn: 0.1544683	total: 9.95s	remaining: 2.79s
781:	learn: 0.1544080	total: 9.96s	remaining: 2.77s
782:	learn: 0.1543097	total: 9.97s	remaining: 2.76s
783:	learn: 0.1542308	total: 9.98s	remaining: 2.75s
784:	learn: 0.1541644	total: 9.99s	remaining: 2.74s
785:	learn: 0.1541066	total: 10s	remaining: 2.73s
786:	learn: 0.1539819	total: 10s	remaining: 2.71s
787:	learn: 0.1539201	total: 10s	remaining: 2.7s
788:	learn: 0.1538241	total: 10s	remaining: 2.69s
789:	learn: 0.1537197	total: 10.1s	remaining: 2.67s
790:	learn: 0.1536339	total: 10.1s	remaining: 2.66s
791:	learn: 0.1535569	total: 10.1s	remaining: 2.65s
792:	learn: 0.1535330	total: 10.1s	remaining: 2.63s
793:	learn: 0.1534832	total: 10.1s	remaining: 2.62s
794:	learn: 0.1534219	total: 10.1s	remaining: 2.61s
795:	learn: 0.1533612	total: 10.1s	remaining: 2.59s
796:	learn: 0.1533037	total: 10.1s	remaining: 2.58s
797:	learn: 0.1532258	total: 10.1s	remaining: 2.57s
798:	learn: 0.1531625	total: 10.2s	remaining: 2.55s
799:	learn: 0.1530908	total: 10.2s	remaining: 2.54s
800:	learn: 0.1529715	total: 10.2s	remaining: 2.53s
801:	learn: 0.1528503	total: 10.2s	remaining: 2.52s
802:	learn: 0.1527534	total: 10.2s	remaining: 2.5s
803:	learn: 0.1527152	total: 10.2s	remaining: 2.49s
804:	learn: 0.1526616	total: 10.2s	remaining: 2.48s
805:	learn: 0.1526036	total: 10.2s	remaining: 2.46s
806:	learn: 0.1525470	total: 10.2s	remaining: 2.45s
807:	learn: 0.1524811	total: 10.3s	remaining: 2.44s
808:	learn: 0.1524306	total: 10.3s	remaining: 2.42s
809:	learn: 0.1523997	total: 10.3s	remaining: 2.41s
810:	learn: 0.1523323	total: 10.3s	remaining: 2.4s
811:	learn: 0.1522863	total: 10.3s	remaining: 2.38s
812:	learn: 0.1522303	total: 10.3s	remaining: 2.37s
813:	learn: 0.1521579	total: 10.3s	remaining: 2.36s
814:	learn: 0.1520597	total: 10.3s	remaining: 2.35s
815:	learn: 0.1519818	total: 10.4s	remaining: 2.33s
816:	learn: 0.1518741	total: 10.4s	remaining: 2.32s
817:	learn: 0.1518104	total: 10.4s	remaining: 2.31s
818:	learn: 0.1517617	total: 10.4s	remaining: 2.3s
819:	learn: 0.1517033	total: 10.4s	remaining: 2.28s
820:	learn: 0.1516566	total: 10.4s	remaining: 2.27s

821:	learn: 0.1515553	total: 10.4s	remaining: 2.26s
822:	learn: 0.1514829	total: 10.4s	remaining: 2.25s
823:	learn: 0.1514328	total: 10.5s	remaining: 2.23s
824:	learn: 0.1513429	total: 10.5s	remaining: 2.22s
825:	learn: 0.1512975	total: 10.5s	remaining: 2.21s
826:	learn: 0.1511980	total: 10.5s	remaining: 2.19s
827:	learn: 0.1511458	total: 10.5s	remaining: 2.18s
828:	learn: 0.1511128	total: 10.5s	remaining: 2.17s
829:	learn: 0.1510668	total: 10.5s	remaining: 2.16s
830:	learn: 0.1509209	total: 10.5s	remaining: 2.14s
831:	learn: 0.1508754	total: 10.6s	remaining: 2.13s
832:	learn: 0.1508119	total: 10.6s	remaining: 2.12s
833:	learn: 0.1507693	total: 10.6s	remaining: 2.1s
834:	learn: 0.1506979	total: 10.6s	remaining: 2.09s
835:	learn: 0.1506048	total: 10.6s	remaining: 2.08s
836:	learn: 0.1505423	total: 10.6s	remaining: 2.07s
837:	learn: 0.1504781	total: 10.6s	remaining: 2.05s
838:	learn: 0.1504197	total: 10.6s	remaining: 2.04s
839:	learn: 0.1503713	total: 10.6s	remaining: 2.03s
840:	learn: 0.1503188	total: 10.7s	remaining: 2.02s
841:	learn: 0.1502537	total: 10.7s	remaining: 2s
842:	learn: 0.1501613	total: 10.7s	remaining: 1.99s
843:	learn: 0.1501300	total: 10.7s	remaining: 1.98s
844:	learn: 0.1500437	total: 10.7s	remaining: 1.96s
845:	learn: 0.1499870	total: 10.7s	remaining: 1.95s
846:	learn: 0.1499105	total: 10.7s	remaining: 1.94s
847:	learn: 0.1498698	total: 10.7s	remaining: 1.93s
848:	learn: 0.1497804	total: 10.8s	remaining: 1.91s
849:	learn: 0.1497212	total: 10.8s	remaining: 1.9s
850:	learn: 0.1496282	total: 10.8s	remaining: 1.89s
851:	learn: 0.1495403	total: 10.8s	remaining: 1.88s
852:	learn: 0.1495039	total: 10.8s	remaining: 1.86s
853:	learn: 0.1494577	total: 10.8s	remaining: 1.85s
854:	learn: 0.1493817	total: 10.8s	remaining: 1.84s
855:	learn: 0.1493174	total: 10.8s	remaining: 1.82s
856:	learn: 0.1492004	total: 10.9s	remaining: 1.81s
857:	learn: 0.1491084	total: 10.9s	remaining: 1.8s
858:	learn: 0.1490142	total: 10.9s	remaining: 1.79s
859:	learn: 0.1489630	total: 10.9s	remaining: 1.77s
860:	learn: 0.1489014	total: 10.9s	remaining: 1.76s
861:	learn: 0.1488200	total: 10.9s	remaining: 1.75s
862:	learn: 0.1487552	total: 10.9s	remaining: 1.74s
863:	learn: 0.1486702	total: 10.9s	remaining: 1.72s
864:	learn: 0.1486200	total: 11s	remaining: 1.71s
865:	learn: 0.1485869	total: 11s	remaining: 1.7s
866:	learn: 0.1485452	total: 11s	remaining: 1.69s
867:	learn: 0.1485133	total: 11s	remaining: 1.67s
868:	learn: 0.1484454	total: 11s	remaining: 1.66s
869:	learn: 0.1484042	total: 11s	remaining: 1.65s
870:	learn: 0.1483457	total: 11s	remaining: 1.63s
871:	learn: 0.1482908	total: 11s	remaining: 1.62s
872:	learn: 0.1482354	total: 11s	remaining: 1.61s
873:	learn: 0.1481431	total: 11.1s	remaining: 1.59s
874:	learn: 0.1481072	total: 11.1s	remaining: 1.58s
875:	learn: 0.1480840	total: 11.1s	remaining: 1.57s
876:	learn: 0.1480508	total: 11.1s	remaining: 1.56s
877:	learn: 0.1479932	total: 11.1s	remaining: 1.54s
878:	learn: 0.1479526	total: 11.1s	remaining: 1.53s
879:	learn: 0.1479023	total: 11.1s	remaining: 1.52s
880:	learn: 0.1478583	total: 11.1s	remaining: 1.51s
881:	learn: 0.1478349	total: 11.2s	remaining: 1.5s
882:	learn: 0.1478090	total: 11.2s	remaining: 1.48s
883:	learn: 0.1477549	total: 11.2s	remaining: 1.47s
884:	learn: 0.1476397	total: 11.2s	remaining: 1.46s
885:	learn: 0.1475353	total: 11.2s	remaining: 1.44s
886:	learn: 0.1474744	total: 11.2s	remaining: 1.43s
887:	learn: 0.1474317	total: 11.2s	remaining: 1.42s
888:	learn: 0.1473704	total: 11.3s	remaining: 1.41s
889:	learn: 0.1473145	total: 11.3s	remaining: 1.39s
890:	learn: 0.1472656	total: 11.3s	remaining: 1.38s
891:	learn: 0.1472172	total: 11.3s	remaining: 1.37s
892:	learn: 0.1471841	total: 11.3s	remaining: 1.35s
893:	learn: 0.1471295	total: 11.3s	remaining: 1.34s
894:	learn: 0.1470919	total: 11.3s	remaining: 1.33s
895:	learn: 0.1470371	total: 11.3s	remaining: 1.32s
896:	learn: 0.1469036	total: 11.4s	remaining: 1.3s
897:	learn: 0.1468669	total: 11.4s	remaining: 1.29s
898:	learn: 0.1468000	total: 11.4s	remaining: 1.28s
899:	learn: 0.1466966	total: 11.4s	remaining: 1.27s
900:	learn: 0.1466647	total: 11.4s	remaining: 1.25s
901:	learn: 0.1465544	total: 11.4s	remaining: 1.24s
902:	learn: 0.1464675	total: 11.4s	remaining: 1.23s
903:	learn: 0.1463752	total: 11.4s	remaining: 1.22s
904:	learn: 0.1463287	total: 11.5s	remaining: 1.2s
905:	learn: 0.1462739	total: 11.5s	remaining: 1.19s
906:	learn: 0.1461641	total: 11.5s	remaining: 1.18s
907:	learn: 0.1461141	total: 11.5s	remaining: 1.17s
908:	learn: 0.1460296	total: 11.5s	remaining: 1.15s
909:	learn: 0.1459257	total: 11.5s	remaining: 1.14s
910:	learn: 0.1459049	total: 11.6s	remaining: 1.13s
911:	learn: 0.1458717	total: 11.6s	remaining: 1.11s
912:	learn: 0.1458299	total: 11.6s	remaining: 1.1s
913:	learn: 0.1457142	total: 11.6s	remaining: 1.09s
914:	learn: 0.1456913	total: 11.6s	remaining: 1.08s
915:	learn: 0.1456332	total: 11.6s	remaining: 1.06s
916:	learn: 0.1455645	total: 11.6s	remaining: 1.05s
917:	learn: 0.1455344	total: 11.6s	remaining: 1.04s
918:	learn: 0.1454832	total: 11.6s	remaining: 1.03s
919:	learn: 0.1454291	total: 11.7s	remaining: 1.01s
920:	learn: 0.1453650	total: 11.7s	remaining: 1s
921:	learn: 0.1453370	total: 11.7s	remaining: 988ms
922:	learn: 0.1453045	total: 11.7s	remaining: 975ms
923:	learn: 0.1452462	total: 11.7s	remaining: 962ms
924:	learn: 0.1452094	total: 11.7s	remaining: 950ms
925:	learn: 0.1451410	total: 11.7s	remaining: 937ms
926:	learn: 0.1450886	total: 11.7s	remaining: 924ms
927:	learn: 0.1450005	total: 11.8s	remaining: 912ms
928:	learn: 0.1449509	total: 11.8s	remaining: 900ms
929:	learn: 0.1448538	total: 11.8s	remaining: 887ms
930:	learn: 0.1448028	total: 11.8s	remaining: 874ms
931:	learn: 0.1447706	total: 11.8s	remaining: 861ms
932:	learn: 0.1447165	total: 11.8s	remaining: 848ms
933:	learn: 0.1446767	total: 11.8s	remaining: 836ms
934:	learn: 0.1446045	total: 11.8s	remaining: 823ms
935:	learn: 0.1445445	total: 11.8s	remaining: 810ms
936:	learn: 0.1444760	total: 11.9s	remaining: 798ms
937:	learn: 0.1444482	total: 11.9s	remaining: 785ms
938:	learn: 0.1444020	total: 11.9s	remaining: 772ms
939:	learn: 0.1443617	total: 11.9s	remaining: 760ms
940:	learn: 0.1443127	total: 11.9s	remaining: 747ms
941:	learn: 0.1442811	total: 11.9s	remaining: 734ms
942:	learn: 0.1442131	total: 11.9s	remaining: 722ms
943:	learn: 0.1441627	total: 12s	remaining: 709ms
944:	learn: 0.1441175	total: 12s	remaining: 697ms
945:	learn: 0.1440097	total: 12s	remaining: 685ms
946:	learn: 0.1439683	total: 12s	remaining: 672ms
947:	learn: 0.1439171	total: 12s	remaining: 659ms
948:	learn: 0.1438674	total: 12s	remaining: 647ms
949:	learn: 0.1438152	total: 12s	remaining: 634ms
950:	learn: 0.1437759	total: 12.1s	remaining: 621ms
951:	learn: 0.1436997	total: 12.1s	remaining: 609ms
952:	learn: 0.1436295	total: 12.1s	remaining: 596ms
953:	learn: 0.1435579	total: 12.1s	remaining: 583ms
954:	learn: 0.1435117	total: 12.1s	remaining: 570ms
955:	learn: 0.1434833	total: 12.1s	remaining: 558ms
956:	learn: 0.1434230	total: 12.1s	remaining: 545ms
957:	learn: 0.1433604	total: 12.1s	remaining: 532ms
958:	learn: 0.1433015	total: 12.1s	remaining: 519ms
959:	learn: 0.1432343	total: 12.2s	remaining: 507ms
960:	learn: 0.1431552	total: 12.2s	remaining: 495ms
961:	learn: 0.1430953	total: 12.2s	remaining: 482ms
962:	learn: 0.1430152	total: 12.2s	remaining: 469ms
963:	learn: 0.1429297	total: 12.2s	remaining: 457ms
964:	learn: 0.1428868	total: 12.2s	remaining: 444ms
965:	learn: 0.1428298	total: 12.3s	remaining: 431ms
966:	learn: 0.1427538	total: 12.3s	remaining: 419ms
967:	learn: 0.1426969	total: 12.3s	remaining: 406ms
968:	learn: 0.1426263	total: 12.3s	remaining: 393ms
969:	learn: 0.1425694	total: 12.3s	remaining: 381ms
970:	learn: 0.1424654	total: 12.3s	remaining: 368ms
971:	learn: 0.1424089	total: 12.3s	remaining: 356ms
972:	learn: 0.1423650	total: 12.4s	remaining: 343ms
973:	learn: 0.1423254	total: 12.4s	remaining: 330ms
974:	learn: 0.1422450	total: 12.4s	remaining: 317ms
975:	learn: 0.1422192	total: 12.4s	remaining: 305ms
976:	learn: 0.1421315	total: 12.4s	remaining: 292ms
977:	learn: 0.1420795	total: 12.4s	remaining: 279ms
978:	learn: 0.1420304	total: 12.4s	remaining: 266ms
979:	learn: 0.1419345	total: 12.4s	remaining: 254ms
980:	learn: 0.1419075	total: 12.4s	remaining: 241ms
981:	learn: 0.1418297	total: 12.5s	remaining: 228ms
982:	learn: 0.1417522	total: 12.5s	remaining: 216ms
983:	learn: 0.1416875	total: 12.5s	remaining: 203ms
984:	learn: 0.1416444	total: 12.5s	remaining: 190ms
985:	learn: 0.1415900	total: 12.5s	remaining: 177ms
986:	learn: 0.1415275	total: 12.5s	remaining: 165ms
987:	learn: 0.1414482	total: 12.5s	remaining: 152ms
988:	learn: 0.1414115	total: 12.5s	remaining: 139ms
989:	learn: 0.1413148	total: 12.6s	remaining: 127ms
990:	learn: 0.1412510	total: 12.6s	remaining: 114ms

991:	learn: 0.1412059	total: 12.6s	remaining: 101ms
992:	learn: 0.1411713	total: 12.6s	remaining: 88.8ms
993:	learn: 0.1410749	total: 12.6s	remaining: 76.1ms
994:	learn: 0.1410570	total: 12.6s	remaining: 63.4ms
995:	learn: 0.1410089	total: 12.6s	remaining: 50.7ms
996:	learn: 0.1409684	total: 12.6s	remaining: 38ms
997:	learn: 0.1408953	total: 12.7s	remaining: 25.4ms
998:	learn: 0.1408580	total: 12.7s	remaining: 12.7ms
999:	learn: 0.1407701	total: 12.7s	remaining: 0us

In [247]:
from sklearn.metrics import f1_score
print(f1_score(y_test,cat))
#print(classification_report(y_test,cat))

0.9258649093904447

In [248]:
predictions = cat_model.predict(test_df)
sub= ttest[["ID"]]
sub['target'] = predictions
sub.to_csv('cat.csv', index = False)

In [249]:
sub['target'].unique()

array([1., 0.])

## MODEL ENSEMBLING

In [5]:
def model(model,train,label,test,model_name):
    mean_train = []
    mean_test = []
    test_pred = np.zeros(test.shape[0])
    val_pred = np.zeros(train.shape[0])
    for count, (train_index,test_index) in enumerate(skf.split(train,label)):
        x_train,x_test = train.iloc[train_index],train.iloc[test_index]
        y_train,y_test = label.iloc[train_index],label.iloc[test_index]
        print(f'========================Fold{count +1}==========================')
        model.fit(x_train, y_train)
        train_predict = model.predict(x_train)
        test_predict = model.predict(x_test)
        val_pred[test_index] = test_predict
        test_pred+= model.predict(test)
        
        print('\nValidation scores', f1_score(y_test,test_predict))
        print('\nTraining scores', f1_score(y_train,train_predict))
        mean_train.append(f1_score(y_train, train_predict))
        mean_test.append(f1_score(y_test,test_predict))
    print('Average Testing ROC score for 10 folds split:',np.mean(mean_test))
    print('Average Training ROC score for 10 folds split:',np.mean(mean_train))
    print('standard Deviation for 10 folds split:',np.std(mean_test))
    return val_pred, test_pred, model_name
        
def Stacking(model,Train_stack,Test_stack,target,file_name):
    prediction = model.fit(Train_stack, target).predict(Test_stack)
    submission['target'] = prediction
    submission.to_csv(file_name,index=False)

## LGBM 1

In [6]:
def lgb(model,train,label,test,model_name):
    mean_train = []
    mean_test = []
    test_pred = np.zeros(test.shape[0])
    val_pred = np.zeros(train.shape[0])
    for count, (train_index,test_index) in enumerate(skf.split(train,label)):
        x_train,x_test = train.iloc[train_index],train.iloc[test_index]
        y_train,y_test = label.iloc[train_index],label.iloc[test_index]
        print(f'========================Fold{count +1}==========================')
        model.fit(x_train,y_train,eval_set=[(x_test,y_test)],early_stopping_rounds=500,
                               verbose=250)
        train_predict = model.predict(x_train, num_iteration = model.best_iteration_)
        test_predict = model.predict(x_test, num_iteration = model.best_iteration_)
        val_pred[test_index] = test_predict
        test_pred+= model.predict(test, num_iteration = model.best_iteration_)
        
        print('\nValidation scores', f1_score(y_test,test_predict))
        print('\nTraining scores', f1_score(y_train,train_predict))
        mean_train.append(f1_score(y_train, train_predict))
        mean_test.append(f1_score(y_test,test_predict))
    print('Average Testing ROC score for 10 folds split:',np.mean(mean_test))
    print('Average Training ROC score for 10 folds split:',np.mean(mean_train))
    print('standard Deviation for 10 folds split:',np.std(mean_test))
    return val_pred, test_pred, model_name

In [7]:
lgb_model = lgbm.LGBMClassifier(random_state=34, n_estimators=8000, num_leaves=30,reg_lambda=6,reg_alpha=6 ,metric='auc', learning_rate=0.08,
    max_depth=8, class_weight = 'balanced')
LGB1_train, LGB1_test, LGB1_name =lgb(lgb_model,X, y, test_df.drop(['target'], axis =1),'lightgbm(1)')

NameError: name 'lgbm' is not defined

## LGBM 2

In [ ]:
lgb_model2 = lgbm.LGBMClassifier(random_state=34, n_estimators=100000,colsample_bytree=0.9,min_child_samples=10,
    subsample=0.5,subsample_freq=2,num_leaves=120,reg_lambda=2,reg_alpha=5 ,metric='auc', learning_rate=0.008,
    max_depth=5)
LGBM2_train, LGBM2_test, LGBM2_name= lgb(lgb_model2,X,y,test_df.drop(['target'], axis =1),'lightgbm(2)')

## CATBOOST 1

In [1832]:
def cat(model,train,label,test,model_name):
    mean_train = []
    mean_test = []
    test_pred = np.zeros(test.shape[0])
    val_pred = np.zeros(train.shape[0])
    for count, (train_index,test_index) in enumerate(skf.split(train,label)):
        x_train,x_test = train.iloc[train_index],train.iloc[test_index]
        y_train,y_test = label.iloc[train_index],label.iloc[test_index]
        print(f'========================Fold{count +1}==========================')
        model.fit(x_train,y_train,eval_set=[(x_test,y_test)],early_stopping_rounds=500,
                           verbose=250,use_best_model=True)
        train_predict = model.predict(x_train)
        test_predict = model.predict(x_test)
        val_pred[test_index] = test_predict
        test_pred+= model.predict(test)
        print('\nTesting scores', f1_score(y_test,test_predict))
        print('\nTraining scores', f1_score(y_train,train_predict))
        mean_train.append(f1_score(y_train, train_predict))
        mean_test.append(f1_score(y_test,test_predict))
    print('Average Testing ROC score for 8 folds split:',np.mean(mean_test))
    print('Average Training ROC score for 8 folds split:',np.mean(mean_train))
    print('standard Deviation for 8 folds split:',np.std(mean_test))
    return val_pred, test_pred, model_name

In [1833]:
catboost =  CatBoostClassifier(random_seed=34,use_best_model=True,
                          n_estimators=12000,silent=True,eval_metric='AUC', loss_function = 'CrossEntropy')

cat1_train, cat1_test, cat1_name = cat(catboost,X,y,test_df,'catboost(1)')

========================Fold1==========================
0:	test: 0.8398925	best: 0.8398925 (0)	total: 20ms	remaining: 4m
250:	test: 0.9687024	best: 0.9687024 (250)	total: 4.04s	remaining: 3m 8s
500:	test: 0.9718741	best: 0.9718741 (500)	total: 7.76s	remaining: 2m 58s
750:	test: 0.9731579	best: 0.9731751 (749)	total: 11.5s	remaining: 2m 52s
1000:	test: 0.9735622	best: 0.9735622 (1000)	total: 15s	remaining: 2m 44s
1250:	test: 0.9739903	best: 0.9739903 (1250)	total: 18.7s	remaining: 2m 40s
1500:	test: 0.9743798	best: 0.9743798 (1500)	total: 22.5s	remaining: 2m 37s
1750:	test: 0.9746000	best: 0.9746117 (1731)	total: 27.3s	remaining: 2m 39s
2000:	test: 0.9746170	best: 0.9746595 (1937)	total: 31.5s	remaining: 2m 37s
2250:	test: 0.9747382	best: 0.9747971 (2180)	total: 35.7s	remaining: 2m 34s
2500:	test: 0.9748137	best: 0.9748137 (2500)	total: 39.5s	remaining: 2m 30s
2750:	test: 0.9746930	best: 0.9748595 (2541)	total: 43.4s	remaining: 2m 25s
3000:	test: 0.9746956	best: 0.9748595 (2541)	total: 47.7s	remaining: 2m 23s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.9748595156
bestIteration = 2541

Shrink model to first 2542 iterations.

Testing scores 0.9256641481842555

Training scores 0.9665539724704177
========================Fold2==========================
0:	test: 0.8344881	best: 0.8344881 (0)	total: 49.7ms	remaining: 9m 56s
250:	test: 0.9687585	best: 0.9687585 (250)	total: 4s	remaining: 3m 7s
500:	test: 0.9721003	best: 0.9721003 (500)	total: 7.72s	remaining: 2m 57s
750:	test: 0.9730437	best: 0.9730530 (741)	total: 11.4s	remaining: 2m 50s
1000:	test: 0.9737083	best: 0.9737083 (1000)	total: 14.9s	remaining: 2m 43s
1250:	test: 0.9739789	best: 0.9740318 (1229)	total: 18.6s	remaining: 2m 40s
1500:	test: 0.9740402	best: 0.9740945 (1445)	total: 22.3s	remaining: 2m 35s
1750:	test: 0.9741330	best: 0.9741654 (1689)	total: 25.8s	remaining: 2m 30s
2000:	test: 0.9739435	best: 0.9741654 (1689)	total: 29.5s	remaining: 2m 27s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.9741653702
bestIteration = 1689

Shrink model to first 1690 iterations.

Testing scores 0.925086249383933

Training scores 0.9556193150601305
========================Fold3==========================
0:	test: 0.8422522	best: 0.8422522 (0)	total: 48.5ms	remaining: 9m 42s
250:	test: 0.9618067	best: 0.9618067 (250)	total: 3.38s	remaining: 2m 38s
500:	test: 0.9665693	best: 0.9665693 (500)	total: 7.32s	remaining: 2m 48s
750:	test: 0.9685876	best: 0.9685876 (750)	total: 11.5s	remaining: 2m 52s
1000:	test: 0.9697593	best: 0.9697593 (1000)	total: 15.1s	remaining: 2m 45s
1250:	test: 0.9701183	best: 0.9701216 (1246)	total: 18.9s	remaining: 2m 42s
1500:	test: 0.9703734	best: 0.9703922 (1498)	total: 22.6s	remaining: 2m 38s
1750:	test: 0.9705191	best: 0.9705723 (1718)	total: 26.3s	remaining: 2m 34s
2000:	test: 0.9704252	best: 0.9705723 (1718)	total: 29.9s	remaining: 2m 29s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.9705722907
bestIteration = 1718

Shrink model to first 1719 iterations.

Testing scores 0.9174852652259332

Training scores 0.9585287132330552
========================Fold4==========================
0:	test: 0.8431803	best: 0.8431803 (0)	total: 20.8ms	remaining: 4m 9s
250:	test: 0.9714603	best: 0.9714603 (250)	total: 3.46s	remaining: 2m 42s
500:	test: 0.9760397	best: 0.9760397 (500)	total: 6.91s	remaining: 2m 38s
750:	test: 0.9770158	best: 0.9770158 (750)	total: 10.4s	remaining: 2m 35s
1000:	test: 0.9774450	best: 0.9774547 (965)	total: 13.8s	remaining: 2m 31s
1250:	test: 0.9773384	best: 0.9774984 (1097)	total: 17.3s	remaining: 2m 28s
1500:	test: 0.9771022	best: 0.9774984 (1097)	total: 20.8s	remaining: 2m 25s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.9774983937
bestIteration = 1097

Shrink model to first 1098 iterations.

Testing scores 0.9240317775571002

Training scores 0.9435916404660625
========================Fold5==========================
0:	test: 0.8494818	best: 0.8494818 (0)	total: 25.5ms	remaining: 5m 6s
250:	test: 0.9726998	best: 0.9726998 (250)	total: 3.59s	remaining: 2m 47s
500:	test: 0.9763980	best: 0.9763980 (500)	total: 6.99s	remaining: 2m 40s
750:	test: 0.9770421	best: 0.9771212 (732)	total: 10.4s	remaining: 2m 36s
1000:	test: 0.9775120	best: 0.9776029 (945)	total: 14.2s	remaining: 2m 35s
1250:	test: 0.9775574	best: 0.9776029 (945)	total: 18.3s	remaining: 2m 37s
1500:	test: 0.9776006	best: 0.9776618 (1340)	total: 21.7s	remaining: 2m 32s
1750:	test: 0.9774792	best: 0.9776618 (1340)	total: 25.3s	remaining: 2m 28s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.9776617924
bestIteration = 1340

Shrink model to first 1341 iterations.

Testing scores 0.9342169857633775

Training scores 0.9479045223047188
Average Testing ROC score for 8 folds split: 0.9252968852229199
Average Training ROC score for 8 folds split: 0.9544396327068769
standard Deviation for 8 folds split: 0.005336091220636042

In [1819]:
## CATBOOST 2

In [1820]:
catboost2 =  CatBoostClassifier(random_seed=34,bootstrap_type='Bayesian',max_depth=6,learning_rate=0.007,
                          iterations=12000,silent=True,eval_metric='AUC')


cat2_train, cat2_test, cat2_name = cat(catboost2,X,y,test_df,'catboost(2)')

========================Fold1==========================
0:	test: 0.7275302	best: 0.7275302 (0)	total: 6.81ms	remaining: 1m 21s
250:	test: 0.7914938	best: 0.7917202 (247)	total: 2.13s	remaining: 1m 39s
500:	test: 0.7997493	best: 0.7997720 (499)	total: 4.34s	remaining: 1m 39s
750:	test: 0.8045539	best: 0.8045539 (750)	total: 6.43s	remaining: 1m 36s
1000:	test: 0.8075860	best: 0.8076167 (998)	total: 8.28s	remaining: 1m 30s
1250:	test: 0.8104225	best: 0.8104241 (1247)	total: 10.1s	remaining: 1m 26s
1500:	test: 0.8128660	best: 0.8128660 (1500)	total: 12s	remaining: 1m 23s
1750:	test: 0.8153434	best: 0.8154227 (1743)	total: 13.7s	remaining: 1m 20s
2000:	test: 0.8173665	best: 0.8174053 (1996)	total: 15.4s	remaining: 1m 16s
2250:	test: 0.8181751	best: 0.8181751 (2250)	total: 17.1s	remaining: 1m 13s
2500:	test: 0.8187265	best: 0.8189755 (2470)	total: 18.9s	remaining: 1m 11s
2750:	test: 0.8190726	best: 0.8190726 (2750)	total: 20.7s	remaining: 1m 9s
3000:	test: 0.8198229	best: 0.8199474 (2974)	total: 22.5s	remaining: 1m 7s
3250:	test: 0.8200687	best: 0.8201819 (3086)	total: 24.2s	remaining: 1m 5s
3500:	test: 0.8203517	best: 0.8204843 (3455)	total: 25.9s	remaining: 1m 2s
3750:	test: 0.8201658	best: 0.8204843 (3455)	total: 27.6s	remaining: 1m
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8204843339
bestIteration = 3455

Shrink model to first 3456 iterations.

CatBoostError: c:/program files (x86)/go agent/pipelines/buildmaster/catboost.git/catboost/libs/data/model_dataset_compatibility.cpp:236: Feature Gender from pool must be 0.

## NAIVE BAYES

In [1881]:
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb_model = GaussianNB()
gnb_train, gnb_test, gnb_name = model(gnb_model,X,y,test_df.drop(['target'], axis =1),'GNB(1)')

========================Fold1==========================

Validation scores 0.16458852867830423

Training scores 0.18136952498457742
========================Fold2==========================

Validation scores 0.1724137931034483

Training scores 0.18953168044077132
========================Fold3==========================

Validation scores 0.17102137767220904

Training scores 0.18863361547762997
========================Fold4==========================

Validation scores 0.19902912621359223

Training scores 0.1788040260509177
========================Fold5==========================

Validation scores 0.19548872180451124

Training scores 0.16257088846880907
Average Testing ROC score for 10 folds split: 0.18050830949441302
Average Training ROC score for 10 folds split: 0.1801819470845411
standard Deviation for 10 folds split: 0.013974232695655666

In [1882]:
#predictions = cat_model.predict(test_df)
sub= ttest[["ID"]]
sub['target'] = cc['result']
sub.to_csv('gnb.csv', index = False)

In [1772]:
#from sklearn.linear_model import LogisticRegression
#lr = LogisticRegression()
#model = lr.fit(X_train,y_train)
#pred = model.predict(X_test)
#sc = f1_score(y_test,pred)

In [1773]:
#preds = model.predict(test_df.drop(['target'], axis =1))

In [1774]:
#predictions = cat_model.predict(test_df)
#sub= ttest[["ID"]]
#sub['target'] = preds
#sub.to_csv('log.csv', index = False)

In [1792]:
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
clf = make_pipeline(StandardScaler(), SVC(gamma='auto', probability = True))
mod = clf.fit(X_train, y_train)

In [1793]:
preds = mod.predict(X_test)
score = f1_score(y_test, preds)

In [1794]:
score

0.8084580530001373

In [1795]:
predi = mod.predict(test_df.drop(['target'], axis = 1))
sub= ttest[["ID"]]
sub['target'] = predi
sub.to_csv('logg.csv', index = False)

In [1775]:
#X[X==np.inf]=np.nan
#X.fillna(X.mean(), inplace=True)

## RANDOM FOREST

In [1776]:
rf1_model = RandomForestClassifier(n_jobs=-1,criterion='entropy',min_samples_split=10,n_estimators=2000,random_state=99)
rf1_train, rf1_test, rf1_name = model(rf1_model,X,y,test_df.drop(['target'], axis =1),'RandomForest(1)')

========================Fold1==========================

Validation scores 0.9306640625

Training scores 0.9681582438789047
========================Fold2==========================

Validation scores 0.9262796963017389

Training scores 0.968900675024108
========================Fold3==========================

Validation scores 0.92431640625

Training scores 0.970007227174175
========================Fold4==========================

Validation scores 0.9304369050524773

Training scores 0.968407090317135
========================Fold5==========================

Validation scores 0.936844672031212

Training scores 0.9683219694684124
Average Testing ROC score for 10 folds split: 0.9297083484270857
Average Training ROC score for 10 folds split: 0.968759041172547
standard Deviation for 10 folds split: 0.00431740650312337

In [1884]:
svc_model = SVC(gamma='auto', probability = True)
svc_train, svc_test, svc_name = model(svc_model,X,y,test_df.drop(['target'], axis =1),'SVC(1)')

========================Fold1==========================

Validation scores 0.07142857142857142

Training scores 0.09024979854955681
========================Fold2==========================

KeyboardInterrupt:

## RANDOM FOREST 2

In [1777]:
rf_model2 = RandomForestClassifier(max_depth=10,min_samples_split=10,min_samples_leaf=15,n_estimators=4000,n_jobs=-1,random_state=34)
rf2_train, rf2_test, rf2_name= model( rf_model2,X,y,test_df.drop(['target'], axis =1),'RandomForest(2)')

========================Fold1==========================

Validation scores 0.8876404494382023

Training scores 0.9063030373968515
========================Fold2==========================

Validation scores 0.8899319408589532

Training scores 0.9076201641266121
========================Fold3==========================

Validation scores 0.8877957367064887

Training scores 0.9107865563962696
========================Fold4==========================

Validation scores 0.8954033771106943

Training scores 0.9087698646262508
========================Fold5==========================

Validation scores 0.9056427066260828

Training scores 0.907563025210084
Average Testing ROC score for 10 folds split: 0.8932828421480842
Average Training ROC score for 10 folds split: 0.9082085295512137
standard Deviation for 10 folds split: 0.006788760999053637

In [1778]:
def xgb(model,train,label,test,model_name):
    mean_train = []
    mean_test = []
    test_pred = np.zeros(test.shape[0])
    val_pred = np.zeros(train.shape[0])
    for count, (train_index,test_index) in enumerate(skf.split(train,label)):
        x_train,x_test = train.iloc[train_index],train.iloc[test_index]
        y_train,y_test = label.iloc[train_index],label.iloc[test_index]
        print(f'========================Fold{count +1}==========================')
        model.fit(x_train, y_train, early_stopping_rounds = 500, eval_metric="auc",
                           eval_set=[(x_test, y_test)],verbose=250)
        train_predict = model.predict(x_train, ntree_limit = model.get_booster().best_ntree_limit)
        test_predict = model.predict(x_test, ntree_limit = model.get_booster().best_ntree_limit)
        val_pred[test_index] = test_predict
        test_pred+= model.predict(test, ntree_limit = model.get_booster().best_ntree_limit)
        
        print('\nTesting scores', f1_score(y_test,test_predict))
        print('\nTraining scores', f1_score(y_train,train_predict))
        mean_train.append(f1_score(y_train, train_predict))
        mean_test.append(f1_score(y_test,test_predict))
    print('Average Testing ROC score for 10 folds split:',np.mean(mean_test))
    print('Average Training ROC score for 10 folds split:',np.mean(mean_train))
    print('standard Deviation for 10 folds split:',np.std(mean_test))
    return val_pred, test_pred, model_name

In [1779]:
from xgboost import XGBClassifier
Xgboost = XGBClassifier(learning_rate=0.5,subsample=0.7,colsample_bytree=0.9,reg_alpha=6,
               n_jobs=-1,n_estimators=5000,max_depth= 7,random_state=34)

xgb_train, xgb_test, xgb_name= xgb(Xgboost,X,y,test_df.drop(['target'], axis =1),'xgboost')

========================Fold1==========================
[0]	validation_0-auc:0.89451
Will train until validation_0-auc hasn't improved in 500 rounds.
[250]	validation_0-auc:0.97347
[500]	validation_0-auc:0.97327
Stopping. Best iteration:
[141]	validation_0-auc:0.97382


Testing scores 0.9198067632850242

Training scores 0.9568955079307423
========================Fold2==========================
[0]	validation_0-auc:0.90063
Will train until validation_0-auc hasn't improved in 500 rounds.
[250]	validation_0-auc:0.97322
[500]	validation_0-auc:0.97260
[750]	validation_0-auc:0.97207
Stopping. Best iteration:
[281]	validation_0-auc:0.97346


Testing scores 0.921616358325219

Training scores 0.9664098242234529
========================Fold3==========================
[0]	validation_0-auc:0.88378
Will train until validation_0-auc hasn't improved in 500 rounds.
[250]	validation_0-auc:0.96869
[500]	validation_0-auc:0.96821
Stopping. Best iteration:
[166]	validation_0-auc:0.96930


Testing scores 0.9137889398695968

Training scores 0.9601740496766785
========================Fold4==========================
[0]	validation_0-auc:0.89179
Will train until validation_0-auc hasn't improved in 500 rounds.
[250]	validation_0-auc:0.97490
[500]	validation_0-auc:0.97370
Stopping. Best iteration:
[24]	validation_0-auc:0.97604


Testing scores 0.9192422731804586

Training scores 0.9295826893353941
========================Fold5==========================
[0]	validation_0-auc:0.88295
Will train until validation_0-auc hasn't improved in 500 rounds.
[250]	validation_0-auc:0.97618
[500]	validation_0-auc:0.97610
Stopping. Best iteration:
[52]	validation_0-auc:0.97685


Testing scores 0.9319727891156463

Training scores 0.9429113381876033
Average Testing ROC score for 10 folds split: 0.921285424755189
Average Training ROC score for 10 folds split: 0.9511946818707742
standard Deviation for 10 folds split: 0.00594789824629729

## DECISION TREE

In [1780]:
from sklearn.tree import DecisionTreeClassifier
dtc_model = DecisionTreeClassifier(max_depth=8,min_samples_leaf=5,criterion = 'entropy',min_samples_split=10,random_state=10)
dtc_train, dtc_test, dtc_name= model(dtc_model,X,y,test_df.drop(['target'], axis =1), 'dtc')

========================Fold1==========================

Validation scores 0.8188976377952756

Training scores 0.8207000463606862
========================Fold2==========================

Validation scores 0.8103254769921436

Training scores 0.8200135074290861
========================Fold3==========================

Validation scores 0.8057869355545814

Training scores 0.8240551724137931
========================Fold4==========================

Validation scores 0.8098720292504571

Training scores 0.8113314447592068
========================Fold5==========================

Validation scores 0.8059836808703535

Training scores 0.8101941196503575
Average Testing ROC score for 10 folds split: 0.8101731520925621
Average Training ROC score for 10 folds split: 0.8172588581226259
standard Deviation for 10 folds split: 0.004754389408908176

## GBM

In [1781]:
gbm_model = GradientBoostingClassifier(max_depth=4,min_samples_leaf=10,n_estimators=2000,learning_rate=0.1,min_samples_split=10,random_state=10)
gbm_train, gbm_test, gbm_name= model(gbm_model,X,y,test_df.drop(['target'], axis =1), 'Gbm')

========================Fold1==========================

Validation scores 0.9241912119748914

Training scores 0.9781013186944328
========================Fold2==========================

Validation scores 0.9216969696969698

Training scores 0.9796040076335878
========================Fold3==========================

Validation scores 0.9140926640926641

Training scores 0.9807589205933163
========================Fold4==========================

Validation scores 0.9220716360116166

Training scores 0.9794847328244275
========================Fold5==========================

Validation scores 0.9298414223930803

Training scores 0.978982565082398
Average Testing ROC score for 10 folds split: 0.9223787808338445
Average Training ROC score for 10 folds split: 0.9793863089656325
standard Deviation for 10 folds split: 0.005063494064365597

In [1782]:
train_stack = pd.DataFrame(xgb_train)
Stack_Train = pd.concat([train_stack,pd.DataFrame(rf1_train),pd.DataFrame(rf2_train),
                        pd.DataFrame(LGB1_train),pd.DataFrame(LGBM2_train),pd.DataFrame(cat1_train),pd.DataFrame(cat2_train),
                         pd.DataFrame(gbm_train)],1)
test_stack = pd.DataFrame(xgb_test)
Stack_Test = pd.concat([test_stack,pd.DataFrame(rf1_test),pd.DataFrame(rf2_test),
                        pd.DataFrame(LGB1_test),pd.DataFrame(LGBM2_test),pd.DataFrame(cat1_test),pd.DataFrame(cat2_test),
                        pd.DataFrame(gbm_test)],1)

Stack_Train.columns=[xgb_name,rf1_name,rf2_name,LGB1_name,LGBM2_name,cat1_name,cat2_name,gbm_name]
Stack_Test.columns=[xgb_name,rf1_name,rf2_name,LGB1_name,LGBM2_name,cat1_name,cat2_name,gbm_name]

Stack_Test = Stack_Test/5
Stack_Test.head()

,xgboost,RandomForest(1),RandomForest(2),lightgbm(1),lightgbm(2),catboost(1),catboost(2),Gbm
0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.2,0.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.8,1.0,1.0,1.0,1.0,1.0,1.0

In [1784]:
from sklearn.linear_model import LogisticRegression, LinearRegression
base_model = LogisticRegression()
Stacking(base_model,Stack_Train,Stack_Test,y,'final_stack11.csv')

## Tried logistic regression but it didnt give a good score